.about-info {
  background-color: var(--color-light);
  padding-top: 105px;
  padding-bottom: var(--offset-medium-huge);

  @include mobile {
    padding-top: var(--offset-medium);
    padding-bottom: var(--offset-medium-large);
  }

  &__container {
    display: flex;
    gap: 0 var(--offset-huge);
    max-width: 1350px;

    @include big-desktop {
      max-width: 100%;
      flex-direction: column;
      align-items: center;
    }
  }

  &__image {
    @include big-desktop {
      margin-bottom: var(--offset-medium-large);
    }
  }

  &__info {
    @include marginBottom(var(--offset-medium));

    max-width: 663px;

    @include big-desktop {
      max-width: 100%;
    }

    @include mobile {
      @include marginBottom(var(--offset-medium));
    }
  }

  &__title {
    @include marginBottom(var(--offset-medium));

    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: var(--deep-blue);

    @include mobile {
      font-size: 32px;
      line-height: 150%;
    }
  }

  &__text {
    color: var(--color-black);

    p {
      i {
        display: inline-flex;
        align-items: center;
        gap: 2px;

        span {
          font-style: normal;
          font-size: 14px;
          padding-bottom: 5px;
          line-height: 1;

          @include mobile {
            font-size: 12px;
          }
        }
      }
    }
  }

  &__subtitle {
    @include marginBottom(var(--offset-small));

    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: var(--deep-blue);
  }
}
