.accordion {
  --accordion-time: 0.3s;
  --accordion-icon-rotate: 90deg;

  &__control {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--color-light);
    border-radius: var(--border-radius-medium-small);
    padding: 18px 24px;
    text-align: left;
    width: 100%;
    white-space: normal;

    &--guidelines {
      background-color: var(--light-yellow);
    }

    @include mobile {
      padding: var(--offset-small) var(--offset-medium);
    }
  }

  &__title {
    font-weight: 700;
  }

  &__info {
    max-width: 650px;

    span {
      font-style: italic;
    }

    @include small-tablet {
      max-width: 450px;
    }

    @include mobile {
      max-width: 265px;
    }
  }

  &__content {
    margin-top: -18px;
    padding: 18px 24px;
    background-color: var(--color-light);
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height var(--accordion-time) ease-out,
      opacity var(--accordion-time) ease-out,
      visibility var(--accordion-time) ease-out,
      padding var(--accordion-time) ease-out;
    will-change: max-height;

    &--guidelines {
      background-color: var(--light-yellow);
    }
  }

  &__icon {
    position: absolute;
    bottom: 20px;
    right: 30px;
    width: 16px;
    height: 24px;
    background: url('../img/accordion-angle.svg') center/cover no-repeat;
    transition: rotate var(--accordion-time) ease-out;

    @include mobile {
      width: 16px;
      height: 22px;
      bottom: 16px;
      right: 22px;
    }
  }

  &.is-open {
    .accordion__icon {
      rotate: var(--accordion-icon-rotate);
    }

    .accordion__content {
      opacity: 1;
      visibility: visible;
    }
  }
}
