.clinical-resources {
  padding-top: var(--offset-medium-huge);
  padding-bottom: 118px;
  background-color: var(--lighter-blue);

  @include mobile {
    padding-top: var(--offset-medium);
    padding-bottom: var(--offset-medium-large);
  }

  &__wrapper {
    max-width: 752px;

    @include mobile {
      max-width: 100%;
    }
  }

  &__title {
    @include marginBottom(var(--offset-medium));

    @include big-desktop {
      display: none;
    }
  }

  &__list {
    display: flex;
    gap: 0 var(--offset-large);
    margin-bottom: var(--offset-medium-large);

    @include big-desktop {
      flex-direction: column;
      gap: var(--offset-small) 0;
      margin-bottom: var(--offset-medium);
    }
  }

  &__link {
    font-weight: 700;
    font-size: 32px;
    line-height: 187%;
    letter-spacing: -0.01em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--deep-blue);
    transition: color var(--timing) ease;

    &--active {
      color: var(--dark-grey);
      text-decoration: none;
    }

    @include hover {
      color: var(--yellow);
    }
  }

  &__text {
    max-width: 663px;

    p {
      i {
        display: inline-flex;
        align-items: center;
        gap: 2px;

        span {
          font-style: normal;
          font-size: 14px;
          padding-bottom: 5px;
          line-height: 1;

          @include mobile {
            font-size: 12px;
          }
        }
      }
    }
  }
}
