.clinical-resources-info {
  --clinical-resources-info-container: 945px;
  --to-top-width: 40px;
  --to-top-offset: 32px;

  padding-top: var(--offset-medium-large);
  padding-bottom: var(--offset-huge);
  background-color: var(--light-yellow);

  &--guidelines {
    background-color: var(--color-light);
  }

  @include mobile {
    padding-block: var(--offset-medium);
  }

  &__container {
    max-width: var(--clinical-resources-info-container);
  }

  &__title {
    @include marginBottom(var(--offset-medium));

    @include title-fz24;

    font-weight: 700;
  }

  &__wrapper {
    position: relative;
  }

  &__to-top {
    position: fixed;
    top: 40%;
    left: calc(
      (
          100% - var(--clinical-resources-info-container) -
            (var(--to-top-width) * 2) - (var(--to-top-offset) * 2)
        ) / 2
    );
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light-blue);
    border-radius: var(--border-radius-medium-small);
    width: var(--to-top-width);
    aspect-ratio: 1;
    font-size: 9px;
    line-height: 133%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-black);
    z-index: var(--to-top-z-index);
    transition: opacity var(--timing) ease-in-out,
      visibility var(--timing) ease-in-out;
    opacity: 0;
    visibility: hidden;

    &::after {
      content: '';
      width: 23px;
      height: var(--offset-small);
      background: url('../img/to-top.svg') center/cover no-repeat;
    }

    &--active {
      opacity: 1;
      visibility: visible;
    }

    @include big-desktop {
      display: none;
    }
  }

  &__item {
    @include marginBottom(var(--offset-medium));
  }

  &__subitem {
    @include marginBottom(var(--offset-medium));
  }

  &__text {
    @include marginBottom(var(--offset-medium));

    font-weight: 700;
    border-radius: var(--border-radius-medium-small);
    background-color: var(--yellow);
    padding: 6px 22px;
    text-transform: capitalize;

    p {
      span {
        font-style: italic;
      }
    }

    @include mobile {
      padding: var(--offset-small) var(--offset-medium);
    }
  }

  &__accordion {
    &:not(:last-of-type) {
      @include marginBottom(var(--offset-medium));
    }

    .accordion__content {
      p {
        @include marginBottom(var(--offset-medium));

        @include mobile {
          @include marginBottom(var(--offset-small));
        }
      }

      ul {
        @include marginBottom(var(--offset-medium));

        list-style: disc;
        padding-left: var(--offset-medium);

        @include mobile {
          @include marginBottom(var(--offset-small));
        }
      }

      li {
        @include marginBottom(var(--offset-medium));

        @include mobile {
          @include marginBottom(var(--offset-small));
        }
      }

      b {
        @include marginBottom(var(--offset-medium));

        @include mobile {
          @include marginBottom(var(--offset-small));
        }
      }

      span {
        font-style: italic;
      }
    }
  }
}
