.clinical-resources-info {
  --clinical-resources-info-container: 945px;
  --clinical-resources-info-container-cosense-studies: 1150px;
  --to-top-width: 40px;
  --to-top-offset: 32px;

  padding-top: var(--offset-medium-large);
  padding-bottom: var(--offset-huge);
  background-color: var(--light-yellow);

  &--guidelines {
    background-color: var(--color-light);
  }

  &--cosense-studies {
    background-color: var(--color-light);
    padding-bottom: var(--offset-medium);

    @include mobile {
      padding-block: var(--offset-medium);
    }
  }

  @include mobile {
    padding-block: var(--offset-medium);
  }

  &__container {
    max-width: var(--clinical-resources-info-container);

    &--cosense-studies {
      max-width: var(--clinical-resources-info-container-cosense-studies);
      display: flex;
      align-items: start;
      gap: 0 120px;

      @include tablet {
        flex-direction: column;
        align-items: stretch;
      }
    }
  }

  &__title {
    @include marginBottom(var(--offset-medium));

    @include title-fz24;

    font-weight: 700;

    &--cosense-studies {
      @include tablet {
        order: -1;
        text-align: center;
      }
    }
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 0 var(--offset-medium);

    &--cosense-studies {
      @include tablet {
        display: contents;
      }
    }
  }

  &__content {
    @include marginBottom(var(--offset-medium-large));

    @include tablet {
      display: contents;
    }
  }

  &__search {
    @include tablet {
      margin-bottom: var(--offset-medium);
    }
  }

  &__to-top {
    position: sticky;
    top: var(--offset-huge);
    left: 0;
    display: inline-flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    border: 1px solid var(--light-blue);
    border-radius: var(--border-radius-medium-small);
    width: var(--to-top-width);
    aspect-ratio: 1;
    font-size: 9px;
    line-height: 133%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin-top: 155px;
    text-align: center;
    color: var(--color-black);
    z-index: var(--to-top-z-index);
    transition: opacity var(--timing) ease-in-out,
      visibility var(--timing) ease-in-out;
    opacity: 0;
    visibility: hidden;

    &::after {
      content: '';
      width: 23px;
      height: var(--offset-small);
      background: url('../img/to-top.svg') center/cover no-repeat;
    }

    &--active {
      opacity: 1;
      visibility: visible;
    }

    @include tablet {
      display: none;
    }
  }

  &__item {
    @include marginBottom(var(--offset-medium));
  }

  &__subitem {
    @include marginBottom(var(--offset-medium));
  }

  &__text {
    @include marginBottom(var(--offset-medium));

    font-weight: 700;
    border-radius: var(--border-radius-medium-small);
    background-color: var(--yellow);
    padding: 6px 22px;
    text-transform: capitalize;

    p {
      span {
        font-style: italic;
      }
    }

    @include mobile {
      padding: var(--offset-small) var(--offset-medium);
    }
  }

  &__accordion {
    &:not(:last-of-type) {
      @include marginBottom(var(--offset-medium));
    }

    .accordion__content {
      p {
        @include marginBottom(var(--offset-medium));

        @include mobile {
          @include marginBottom(var(--offset-small));
        }
      }

      ul {
        @include marginBottom(var(--offset-medium));

        list-style: disc;
        padding-left: var(--offset-medium);

        @include mobile {
          @include marginBottom(var(--offset-small));
        }
      }

      li {
        @include marginBottom(var(--offset-medium));

        @include mobile {
          @include marginBottom(var(--offset-small));
        }
      }

      b {
        @include marginBottom(var(--offset-medium));

        @include mobile {
          @include marginBottom(var(--offset-small));
        }
      }

      span {
        font-style: italic;
      }
    }
  }

  &__form {
    position: relative;
    max-width: 654px;

    @include tablet {
      max-width: 100%;
    }
  }

  &__input {
    width: 100%;
    height: 40px;
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    color: var(--color-black);
    padding-left: var(--offset-small);
    padding-right: var(--offset-medium-large);
    background-color: var(--seacrh-grey);
    transition: background-color var(--timing) ease;

    &::placeholder {
      color: currentColor;
    }

    &.focus-visible {
      background-color: var(--light-blue);
    }
  }

  &__button {
    position: absolute;
    top: 50%;
    right: 10px;
    translate: 0 -50%;
    width: 30px;
    height: 30px;
    background: url('../img/search-input-icon.svg') center/cover no-repeat;
    z-index: var(--seacrh-btn-z-index);
  }

  &__table {
    border-collapse: collapse;
    font-size: 14px;
    text-align: left;
    width: 100%;
  }

  &__table-thead {
    border-bottom: 1px solid var(--light-grey);

    th {
      border-right: 1px solid var(--light-grey);
      padding: 12px;
      font-weight: 700;
      color: var(--color-black);
      background-color: var(--light-yellow);
    }

    @include tablet {
      display: none;
    }
  }

  &__table-tbody {
    tr {
      border-bottom: 1px solid var(--light-grey);

      @include tablet {
        @include marginBottom(48px);

        display: flex;
        flex-direction: column;
        border-bottom: none;
      }

      &:nth-child(even) {
        background-color: var(--lighter-blue);
      }

      td {
        position: relative;
        padding: 12px;
        border-right: 1px solid var(--light-grey);

        &::before {
          content: attr(data-title);
          font-weight: 700;
          color: var(--color-black);
          background-color: var(--light-yellow);
          padding: 12px;
          width: 100%;
          display: none;
        }

        @include tablet {
          padding-top: 52px;

          &:not(:last-child) {
            padding-bottom: 16px;
          }

          &::before {
            display: block;
            position: absolute;
            height: 40px;
            top: 0;
            left: 0;
            width: 100%;
          }
        }

        span {
          @include marginBottom(16px);

          display: block;
        }
      }

      @include tablet {
      }
    }
  }

  &__download {
    position: sticky;
    top: var(--offset-large);
    display: inline-block;
    margin-top: 155px;
    flex: 0 0 auto;
    text-align: center;
    color: var(--color-black);

    @include tablet {
      position: static;
      margin-top: 0;
      margin-bottom: var(--offset-medium);
    }
  }

  &__download-img {
    margin-bottom: var(--offset-medium);

    @include tablet {
      margin-inline: auto;
      margin-bottom: var(--offset-small);
    }
  }
}
