.consultants {
  padding-block: var(--offset-huge);
  background-color: var(--lighter-blue);

  @include mobile {
    padding-top: var(--offset-medium);
    padding-bottom: var(--offset-medium-large);
  }

  &__container {
    display: flex;
    gap: 0 var(--offset-medium-huge);

    @include big-desktop {
      flex-direction: column;
      gap: var(--offset-medium-large) 0;
    }
  }

  &__aside {
    position: sticky;
    top: var(--offset-small);
    max-width: 360px;
    width: 100%;
    height: 100%;

    @include big-desktop {
      position: static;
    }
  }

  .consultants-image {
    aspect-ratio: 1;
    object-position: top;
    margin-bottom: var(--offset-medium);
    border-radius: var(--border-radius-medium);

    @include big-desktop {
      width: 100%;
    }
  }

  &__name {
    font-weight: 700;
  }

  &__description {
    @include marginBottom(var(--offset-small));

    p {
      @include marginBottom(var(--offset-small));
    }
  }

  &__button {
    padding: 11px var(--offset-medium);
    color: var(--deep-blue);
  }

  .swiper-wrapper {
    flex-wrap: wrap;
    gap: var(--offset-large);
    padding-bottom: 2px;

    @include big-desktop {
      flex-wrap: nowrap;
      gap: 0;
    }
  }

  .swiper-slide {
    max-width: 300px;
    width: 100%;

    @include big-desktop {
      max-width: 100%;
    }
  }
}
