.dialog {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.6);
  transition: opacity var(--timing) ease, visibility var(--timing) ease,
    background-color var(--timing) ease, transform var(--timing) ease;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  &[open] {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }

  &__inner {
    background-color: transparent;

    @include tablet {
      position: absolute;
      top: var(--offset-medium);
      right: var(--offset-medium);
      z-index: 10;
    }
  }

  &__modal-content {
    padding: var(--offset-medium-huge) var(--offset-large);
    border-radius: var(--offset-medium);
    background-color: var(--lighter-blue);
    display: flex;
    gap: 0 var(--offset-large);
    justify-content: space-between;

    &--kernicterus {
      max-width: 600px;
    }

    &--blood-tests {
      max-width: 600px;
    }

    &--fda-cleared {
      max-width: 600px;
    }

    @include tablet {
      border-radius: 0;
      flex-direction: column;
      gap: var(--offset-medium) 0;
      padding: 108px var(--offset-medium) 192px var(--offset-medium);
    }
  }

  &__modal-close {
    text-align: right;
    padding-bottom: var(--offset-medium-large);
    cursor: pointer;

    @include tablet {
      position: absolute;
      top: var(--offset-medium);
      right: var(--offset-medium);
      padding-bottom: 0;
      z-index: var(--dialog-btn-close-z-index);
    }
  }

  &__modal-icon {
    display: block;
    width: 27px;
    aspect-ratio: 1;
    fill: var(--color-black);
  }

  &__modal-info {
    max-width: 300px;
    flex: 0 0 auto;

    &--consultants {
      @include tablet {
        max-width: 100%;
      }
    }
  }

  &__modal-name {
    line-height: 133%;
  }

  &__modal-text {
    @include marginBottom(var(--offset-medium));

    font-family: var(--font-family-accent);

    a {
      font-weight: 700;
      color: var(--actionable-item);
      border-bottom: 1px solid currentColor;
      transition: color var(--timing) ease;

      @include hover {
        color: var(--deep-blue);
      }
    }

    &--consultants {
      max-width: 600px;

      @include tablet {
        max-width: 100%;
      }
    }
  }
}
