.dialog {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.5);
  transition: opacity var(--timing) ease, visibility var(--timing) ease,
    background-color var(--timing) ease, transform var(--timing) ease;

  &::backdrop {
    background-color: #58595b;
    cursor: pointer;
  }

  &[open] {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: var(--offset-large) 0;

    @include mobile {
      flex-direction: row;
      gap: 0;
    }
  }

  &__inner {
    background-color: transparent;

    @include mobile {
      position: absolute;
      top: var(--offset-medium);
      right: var(--offset-medium);
      z-index: 10;
    }
  }

  &__modal-content {
    border-radius: var(--offset-medium);
    background-color: var(--lighter-blue);

    @include mobile {
      border-radius: 0;
    }
  }

  &__modal-close {
    display: block;
    margin-left: auto;
  }

  &__modal-icon {
    display: block;
    width: 27px;
    aspect-ratio: 1;
    fill: var(--color-light);

    @include mobile {
      fill: var(--color-black);
    }
  }

  &__modal-inner {
    position: relative;
    max-width: 600px;
    padding: 142px 50px;
    display: flex;
    gap: 0 64px;
    justify-content: space-between;

    &--consultants {
      max-width: 1092px;
      width: 100%;
      padding: var(--offset-large);
    }

    @include mobile {
      padding: 109px var(--offset-medium) 193px var(--offset-medium);
      max-width: 100%;
    }
  }

  &__modal-info {
    max-width: 300px;
  }

  &__modal-text {
    @include marginBottom(var(--offset-medium));

    a {
      font-weight: 700;
      color: var(--actionable-item);
      border-bottom: 1px solid currentColor;
      transition: color var(--timing) ease;

      @include hover {
        color: var(--deep-blue);
      }
    }

    &--consultants {
      max-width: 600px;
    }
  }
}
