.dropdown {
  position: absolute;
  padding-top: 28px;
  top: 100%;
  right: calc(var(--offset-medium) * -1);
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--timing) ease-in-out, visibility var(--timing) ease-in-out;
  z-index: var(--dropdown-nav-z-index);

  @include big-desktop {
    position: static;
    display: none;
    padding-top: 0;
  }

  &--active {
    opacity: 1;
    visibility: visible;

    @include big-desktop {
      display: block;
    }
  }

  &__wrapper {
    background-color: var(--light-grey);
    padding: var(--offset-medium) 19px;

    @include big-desktop {
      background-color: transparent;
      padding: var(--offset-medium) 0 0 var(--offset-medium);
    }
  }

  &__item {
    @include marginBottom(var(--offset-small));
  }

  &__link {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: -0.01em;
    color: var(--deep-blue);
    transition: color var(--timing) ease;

    @include hover {
      color: var(--dark-grey);
    }

    @include big-desktop {
      @include title-fz32;
    }

    @include mobile {
      @include title-fz24;

      font-weight: 700;
    }

    &--studies {
      display: inline-block;
    }
  }

  &__link-text {
    display: inline-flex;
    font-size: 15px;

    i {
      display: inline-flex;
      align-items: start;
      gap: 2px;
      padding-right: 2px;

      @include big-desktop {
        align-items: center;
      }

      span {
        font-style: normal;
        font-size: 14px;
        line-height: 1;

        @include mobile {
          font-size: 12px;
        }
      }
    }

    @include big-desktop {
      @include title-fz32;
    }

    @include mobile {
      @include title-fz24;

      font-weight: 700;
    }
  }
}
