.dropdown {
  position: absolute;
  padding-top: 28px;
  top: 100%;
  right: calc(var(--offset-medium) * -1);
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--timing) ease-in-out,
    visibility var(--timing) ease-in-out;
  z-index: var(--dropdown-nav-z-index);

  @include big-desktop {
    position: static;
    display: none;
    padding-top: 0;
  }

  &--active {
    opacity: 1;
    visibility: visible;

    @include big-desktop {
      display: block;
    }
  }

  &__wrapper {
    background-color: var(--light-grey);
    padding: var(--offset-medium);

    @include big-desktop {
      background-color: transparent;
      padding: var(--offset-medium) 0 0 var(--offset-medium);
    }
  }

  &__item {
    @include marginBottom(var(--offset-small));
  }

  &__link {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: -0.01em;
    color: var(--deep-blue);
    transition: color var(--timing) ease;

    @include hover {
      color: var(--dark-grey);
    }

    @include big-desktop {
      @include title-fz32;
    }

    @include mobile {
      @include title-fz24;

      font-weight: 700;
    }

    &--studies {
      display: inline-flex;
    }
  }

  &__link-text {
    position: relative;
    font-style: italic;
    font-size: 14px;

    &::after {
      content: '®';
      padding-right: 4px;
      font-style: normal;
    }

    @include big-desktop {
      @include title-fz32;
    }

    @include mobile {
      @include title-fz24;

      font-weight: 700;
    }
  }
}
