.footer {
  padding-top: var(--offset-large);
  padding-bottom: var(--offset-medium);
  background-color: var(--deep-blue);

  @include mobile {
    padding-top: var(--offset-medium);
    padding-bottom: var(--offset-medium-large);
  }

  &__container {
    max-width: 886px;
  }

  &__logo {
    text-align: center;
    margin-bottom: var(--offset-medium-large);
  }

  &__logo-link {
    display: inline-block;
  }

  &__wrapper {
    display: flex;
    gap: 0 338px;
    margin-bottom: var(--offset-large);

    @include big-desktop {
      gap: 0;
      justify-content: space-between;
    }

    @include mobile {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: var(--offset-large) 0;
    }
  }

  &__social {
    display: flex;
    flex-direction: column;

    @include mobile {
      padding-right: var(--offset-medium-large);
    }
  }

  &__social-item {
    @include marginBottom(var(--offset-medium));
  }

  &__social-link {
    padding-left: var(--offset-medium-large);

    &--careers {
      text-decoration: underline;
    }

    &--follow {
      display: block;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        translate: 0 -50%;
        width: var(--offset-medium);
        aspect-ratio: 1;
        background: url(../img/linkedIn-icon.svg) center/cover no-repeat;
      }
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
  }

  &__contact-link {
    @include marginBottom(var(--offset-medium));

    padding-left: var(--offset-medium-large);
  }

  .footer-contact-item {
    --icon-width: var(--offset-medium);

    @include marginBottom(var(--offset-medium));

    padding-left: var(--offset-medium-large);
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: -0.01em;
    color: var(--color-light);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      translate: 0 -50%;
    }

    &--address {
      &::after {
        width: var(--icon-width);
        height: 43px;
        background: url(../img/address-icon.svg) center/cover no-repeat;
      }
    }

    &--tel {
      &::after {
        width: var(--icon-width);
        aspect-ratio: 1;
        background: url(../img/phone-icon.svg) center/cover no-repeat;
      }
    }

    &--email {
      &::after {
        width: var(--icon-width);
        height: 24px;
        background: url(../img/email-icon.svg) center/cover no-repeat;
      }
    }
  }

  &__contact-address {
    font-style: normal;
    max-width: 245px;
  }

  &__contact-descr {
    transition: color var(--timing) ease;

    @include hover {
      color: var(--yellow);
    }

    &--email {
      text-decoration: underline;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      align-items: center;
      gap: var(--offset-medium) 0;
    }
  }

  &__info-content {
    display: flex;
    gap: 0 var(--offset-small);

    a {
      transition: color var(--timing) ease;

      @include hover {
        color: var(--yellow);
      }
    }
  }

  &__info-item {
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.8);

    &:first-child::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -14px;
      width: 12px;
      height: 1px;
      background-color: currentColor;
      translate: 0 -50%;
      rotate: -90deg;
    }
  }

  .footer-link {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 167%;
    letter-spacing: -0.01em;
    color: var(--color-light);
    transition: color var(--timing) ease;

    @include hover {
      color: var(--yellow);
    }
  }
}
