.header {
  height: var(--header-height);
  padding-block: var(--offset-small);
  margin-bottom: var(--offset-medium);

  &--products {
    margin-bottom: 0;
  }

  @include mobile {
    margin-bottom: 0;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    @include big-desktop {
      position: fixed;
      top: var(--header-height);
      right: 100%;
      width: 100vw;
      height: calc(100dvh - var(--header-height));
      padding: var(--offset-large) var(--offset-small);
      background-color: var(--color-light);
      transition: translate 0.5s ease;
      overflow-y: auto;
      z-index: 10;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    &--active {
      translate: 100% 0;
    }
  }

  &__nav-list {
    display: flex;
    align-items: center;

    @include big-desktop {
      align-items: flex-start;
      flex-direction: column;
      flex-grow: 1;
      gap: var(--offset-medium) 0;
    }
  }

  &__nav-item {
    @include marginRight(var(--offset-large));

    position: relative;

    @include big-desktop {
      @include marginRight(0);
    }
  }

  &__nav-link {
    font-weight: 700;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: var(--deep-blue);
    transition: color var(--timing) ease;

    @include hover {
      color: var(--dark-grey);
    }

    &--home {
      display: none;

      @include big-desktop {
        display: block;
      }
    }

    &--contact {
      display: block;
      padding: 12px var(--offset-medium);
      color: var(--color-light);
      background-color: var(--deep-blue);
      border-radius: var(--border-radius-small);
      transition: background-color var(--timing) ease, color var(--timing) ease,
        border var(--timing) ease;

      @include hover {
        color: var(--color-light);
        background-color: var(--dark-grey);
      }

      @include big-desktop {
        background-color: transparent;
        color: var(--deep-blue);
        padding: 0;
      }
    }

    @include big-desktop {
      @include title-fz32;
    }

    @include mobile {
      @include title-fz24;

      font-weight: 700;
    }
  }

  &__burger {
    --burger-width: 37px;
    --burger-height: 28px;
    --burger-line-height: 5px;

    display: none;
    position: relative;
    border: none;
    padding: 0;
    width: var(--burger-width);
    height: var(--burger-height);
    color: var(--deep-blue);
    background-color: transparent;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: var(--burger-line-height);
      background-color: currentColor;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
      border-radius: 2px;
    }

    &::before {
      top: 0;
    }

    &::after {
      top: calc(100% - var(--burger-line-height));
    }

    .burger__line {
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: var(--burger-line-height);
      background-color: currentColor;
      transform: translateY(-50%);
      transition: transform 0.3s ease-in-out;
      border-radius: 2px;
    }

    &--active {
      &::before {
        top: 50%;
        transform: rotate(45deg);
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
      }

      &::after {
        top: 50%;
        transform: rotate(-45deg);
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
      }

      & .burger__line {
        transform: scale(0);
        transition: transform 0.3s ease-in-out;
      }
    }

    @include big-desktop {
      display: block;
    }
  }
}
