.hero {
  padding-bottom: var(--offset-small);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    max-width: 664px;
    padding-left: 16px;
  }

  &__title {
    @include marginBottom(var(--offset-medium));
  }

  &__info {
    @include marginBottom(var(--offset-medium));

    p {
      @include marginBottom(var(--offset-medium));
    }

    span {
      font-style: italic;
    }

    mark {
      font-weight: 700;
      color: var(--deep-blue);
    }

    ul {
      list-style: disc;
      padding-left: var(--offset-medium);
    }

    li {
      a {
        font-style: normal;
        color: var(--actionable-item);
        border-bottom: 1px solid currentColor;
        transition: color var(--timing) ease;

        @include hover {
          color: var(--deep-blue);
        }
      }
    }
  }

  &__link {
    padding: 12px 20px;
    margin-top: auto;
  }

  &__images {
    position: relative;
    padding: 74px;
  }

  &__decor {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__image {
    border-radius: 50%;
  }

  .swiper {
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: var(--offset-medium);
    }
  }
}
