.hero {
  padding-bottom: var(--offset-small);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content {
    max-width: 664px;
    padding-left: 16px;
  }

  &__title {
    @include marginBottom(var(--offset-medium));
  }

  &__info {
    @include marginBottom(var(--offset-medium));

    p {
      @include marginBottom(var(--offset-medium));
    }

    span {
      font-style: italic;
    }

    mark {
      font-weight: 700;
      color: var(--deep-blue);
    }

    ul {
      list-style: disc;
      padding-left: var(--offset-medium);
    }

    li {
      a {
        font-style: normal;
        color: var(--actionable-item);
        border-bottom: 1px solid currentColor;
        transition: color var(--timing) ease;

        @include hover {
          color: var(--deep-blue);
        }
      }
    }
  }

  &__link {
    padding: 12px 20px;
    margin-top: auto;
  }

  &__picture {
    position: relative;
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background: url('../img/decor-light-bg.svg') center/cover no-repeat;
      width: 820px;
      aspect-ratio: 1;
      z-index: -1;
    }
  }

  &__image {
    border-radius: 50%;
    padding: 74px;
  }

  .swiper {
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: var(--offset-medium);
    }
  }
}
