.jaundice {
  padding-top: 80px;
  padding-bottom: 77px;

  @include mobile {
    padding-top: var(--offset-medium);
    padding-bottom: var(--offset-medium-large);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 var(--offset-large);

    @include big-desktop {
      flex-direction: column-reverse;
      align-items: center;
      gap: var(--offset-medium) 0;
    }
  }

  &__info {
    max-width: 686px;
    flex-grow: 1;
  }

  &__title {
    @include marginBottom(var(--offset-medium));

    @include mobile {
      @include marginBottom(var(--offset-small));
    }
  }

  &__text {
    p {
      @include marginBottom(var(--offset-medium));

      @include mobile {
        @include marginBottom(var(--offset-small));
      }
    }

    ul {
      @include marginBottom(var(--offset-medium));

      list-style: disc;
      padding-left: var(--offset-medium);

      @include mobile {
        @include marginBottom(var(--offset-small));
      }

      li {
        span {
          font-weight: 700;
        }
      }
    }
  }

  &__swiper {
    width: 100%;
  }

  &__swiper-pagination {
    position: static;
  }

  &__figure {
    display: flex;
    flex-direction: column;
    max-width: 765px;
    margin-bottom: var(--offset-small);

    figcaption {
      text-align: center;
    }

    @include big-desktop {
      max-width: 100%;
    }
  }

  &__picture {
    @include marginBottom(var(--offset-medium));

    display: block;

    @include mobile {
      @include marginBottom(var(--offset-small));
    }
  }

  &__image {
    border-radius: var(--border-radius-medium);

    @include big-desktop {
      margin-inline: auto;
    }
  }
}
