.jaundice-treatment {
  padding-block: var(--offset-medium-huge);
  background-color: var(--light-yellow);

  @include mobile {
    padding-top: var(--offset-medium);
    padding-bottom: var(--offset-medium-large);
  }

  &__container {
    display: flex;
    gap: 134px;
    justify-content: space-between;

    @include big-desktop {
      gap: var(--offset-large);
      align-items: center;
      flex-direction: column;
    }
  }

  &__content {
    max-width: 686px;
  }

  &__title {
    @include marginBottom(var(--offset-medium));
  }

  &__text {
    @include marginBottom(var(--offset-medium));

    p {
      @include marginBottom(var(--offset-small));
    }
  }

  &__info {
    @include marginBottom(42px);
  }

  &__link {
    padding: 12px var(--offset-medium);
  }
}
