.jaundice {
  padding-top: var(--offset-medium-huge);
  padding-bottom: var(--offset-large);

  @include mobile {
    padding-top: var(--offset-medium);
    padding-bottom: var(--offset-medium-large);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 var(--offset-large);

    @include big-desktop {
      flex-direction: column-reverse;
      align-items: center;
      gap: var(--offset-medium) 0;
    }
  }

  &__info {
    max-width: 686px;
    flex-grow: 1;
  }

  &__title {
    @include marginBottom(var(--offset-medium));

    @include mobile {
      @include marginBottom(var(--offset-small));
    }
  }

  &__text {
    p {
      @include marginBottom(var(--offset-medium));

      @include mobile {
        @include marginBottom(var(--offset-small));
      }
    }

    ul {
      @include marginBottom(var(--offset-medium));

      list-style: disc;
      padding-left: var(--offset-medium);

      @include mobile {
        @include marginBottom(var(--offset-small));
      }

      li {
        span {
          font-weight: 700;
        }
      }
    }
  }

  &__swiper {
    width: 100%;
  }

  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    height: 88px;
    bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
      height: var(--offset-large);
    }
  }

  .swiper .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child),
  .swiper .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
    @include mobile {
      margin-right: 28px;
    }

    @include small-mobile {
      margin-right: 24px;
    }
  }

  &__figure {
    display: flex;
    flex-direction: column;
    max-width: 765px;

    figcaption {
      font-family: var(--font-family-accent);
      text-align: center;
      height: 90px;
      overflow: hidden;

      i {
        display: inline-flex;
        align-items: center;
        gap: 2px;

        span {
          font-style: normal;
          font-size: 20px;
          padding-bottom: 5px;
          line-height: 1;

          @include mobile {
            font-size: 15px;
          }
        }
      }
    }

    @include big-desktop {
      max-width: 100%;
    }
  }

  &__picture {
    margin-bottom: 88px;

    display: block;

    @include mobile {
      margin-bottom: var(--offset-large);
    }
  }

  &__image {
    border-radius: var(--border-radius-medium);
    aspect-ratio: 16 / 9;

    @include big-desktop {
      margin-inline: auto;
    }
  }
}
