.jaundice {
  padding-top: 80px;
  padding-bottom: 77px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 69px;
  }

  &__info {
    max-width: 686px;
    flex-grow: 1;
  }

  &__title {
    @include marginBottom(var(--offset-medium));
  }

  &__text {
    p {
      @include marginBottom(var(--offset-medium));
    }

    ul {
      @include marginBottom(var(--offset-medium));

      list-style: disc;
      padding-left: var(--offset-medium);

      li {
        span {
          font-weight: 700;
        }
      }
    }
  }

  &__swiper {
    width: 100%;
  }

  &__swiper-pagination {
    // position: static;
  }

  &__figure {
    display: flex;
    flex-direction: column;
    max-width: 765px;

    figcaption {
      text-align: center;
    }
  }

  &__picture {
    @include marginBottom(88px);

    display: block;
  }

  &__image {
    border-radius: var(--border-radius-medium);
  }

  .swiper {
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: 108px;
    }
  }
}
