.monitoring {
  padding-top: var(--offset-medium-huge);
  padding-bottom: var(--offset-huge);
  background-color: var(--lighter-blue);
  overflow: hidden;

  &--products {
    padding-block: var(--offset-medium-huge);
    background-color: var(--color-light);
  }

  @include big-desktop {
    padding-bottom: var(--offset-medium-large);
  }

  @include mobile {
    padding-top: var(--offset-medium);
  }

  &__title {
    @include marginBottom(137px);

    margin-inline: auto;
    max-width: 1279px;
    text-align: center;

    @include big-desktop {
      @include marginBottom(50px);

      max-width: 100%;
      position: relative;
      z-index: 2;
    }
  }

  &__wrapper {
    max-width: 1350px;
    margin-inline: auto;
    display: flex;
    gap: 0 var(--offset-medium-huge);
    align-items: center;

    @include big-desktop {
      max-width: 100%;
      flex-direction: column;
    }
  }

  &__images {
    position: relative;
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      top: -106px;
      left: 200px;
      background: url('../img/decor-black-bg.svg') center right 10px / cover
        no-repeat;
      width: 720px;
      aspect-ratio: 1;
      z-index: -2;
    }

    &--products {
      &::after {
        display: none;
      }
    }

    @include big-desktop {
      margin-bottom: var(--offset-medium-huge);

      &::after {
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        background: url('../img/decor-black-bg.svg') center / contain no-repeat;
      }
    }

    @include mobile {
      &::after {
        width: 520px;
      }
    }
  }

  &__image {
    border-radius: var(--border-radius-medium);
  }

  &__info {
    position: relative;
    z-index: 2;
    max-width: 535px;

    @include big-desktop {
      max-width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  &__text {
    @include marginBottom(var(--offset-medium));

    p {
      @include marginBottom(var(--offset-medium));
    }

    ul {
      list-style: disc;
      padding-left: var(--offset-medium);
    }
  }

  &__link {
    padding: 12px var(--offset-medium);
  }
}
