.page-hero {
  padding-bottom: var(--offset-small);

  &--products {
    background-color: var(--light-yellow);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include big-desktop {
      flex-direction: column;
    }
  }

  &__content {
    max-width: 664px;
    padding-left: var(--offset-small);

    @include big-desktop {
      max-width: 100%;
      padding-left: 0;
      display: contents;
    }
  }

  &__title {
    @include marginBottom(var(--offset-medium));

    @include mobile {
      @include marginBottom(0);
    }
  }

  &__inner {
    @include big-desktop {
      order: 1;
      display: inline-flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: var(--offset-medium);
    }
  }

  &__info {
    @include marginBottom(var(--offset-medium));

    @include mobile {
      @include marginBottom(var(--offset-small));
    }

    p {
      @include marginBottom(var(--offset-medium));

      @include mobile {
        @include marginBottom(var(--offset-small));
      }
    }

    span {
      font-style: italic;
    }

    mark {
      font-weight: 700;
      color: var(--deep-blue);
    }

    ul {
      list-style: disc;
      padding-left: var(--offset-medium);
    }

    li {
      a {
        font-style: normal;
        color: var(--actionable-item);
        border-bottom: 1px solid currentColor;
        transition: color var(--timing) ease;

        @include hover {
          color: var(--deep-blue);
        }
      }
    }
  }

  &__link {
    padding: 12px 20px;
    margin-top: auto;
  }

  &__images {
    position: relative;
    padding: var(--offset-large);

    @include mobile {
      padding: var(--offset-medium);
    }
  }

  &__decor {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__image {
    border-radius: 50%;

    &--products {
      border-radius: 0;
    }
  }

  .swiper {
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: var(--offset-medium);

      @include big-desktop {
        position: static;
      }
    }
  }
}
