.page-hero {
  padding-bottom: var(--offset-small);

  &--products {
    background-color: var(--light-yellow);
    padding-block: var(--offset-small);

    @include mobile {
      padding-top: var(--offset-medium);
      padding-bottom: var(--offset-medium-large);
    }
  }

  &--about {
    background-color: var(--light-yellow);
    padding-top: var(--offset-medium);
    padding-bottom: var(--offset-small);

    @include mobile {
      padding-top: var(--offset-medium);
      padding-bottom: var(--offset-medium-large);
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include big-desktop {
      flex-direction: column;
    }

    &--about {
      align-items: start;

      @include big-desktop {
        align-items: center;
      }
    }
  }

  &__content {
    max-width: 664px;
    padding-left: var(--offset-small);

    @include big-desktop {
      max-width: 100%;
      padding-left: 0;
      display: contents;
    }

    &--about {
      padding-top: 50px;
      padding-left: 0;
    }
  }

  &__title {
    @include marginBottom(var(--offset-medium));

    @include mobile {
      @include marginBottom(0);
    }

    &--about {
      @include big-desktop {
        @include marginBottom(var(--offset-medium));
      }
    }
  }

  &__inner {
    @include big-desktop {
      order: 1;
      display: inline-flex;
      align-items: center;
      flex-direction: column;
      margin-bottom: var(--offset-medium);
    }

    &--products {
      margin-bottom: 0;
    }

    &--about {
      margin-bottom: 0;
    }
  }

  &__info {
    @include marginBottom(var(--offset-medium));

    @include mobile {
      @include marginBottom(var(--offset-small));
    }

    &--products {
      @include mobile {
        @include marginBottom(var(--offset-medium));
      }
    }

    &--about {
      color: var(--color-black);
    }

    p {
      @include marginBottom(var(--offset-medium));

      @include mobile {
        @include marginBottom(var(--offset-small));
      }
    }

    blockquote {
      @include marginBottom(var(--offset-medium));

      @include mobile {
        @include marginBottom(var(--offset-small));
      }

      footer {
        margin-top: var(--offset-medium);
        font-weight: 700;
      }
    }

    span {
      font-style: italic;
    }

    mark {
      font-weight: 700;
      color: var(--deep-blue);
    }

    ul {
      list-style: disc;
      padding-left: var(--offset-medium);
    }

    li {
      a {
        font-style: normal;
        color: var(--actionable-item);
        border-bottom: 1px solid currentColor;
        transition: color var(--timing) ease;

        @include hover {
          color: var(--deep-blue);
        }
      }
    }
  }

  &__link {
    padding: 12px 20px;
    margin-top: auto;

    &--products {
      padding: 12px 34px;
    }
  }

  &__images {
    position: relative;
    padding: var(--offset-large);

    &--products {
      mix-blend-mode: multiply;
      padding: var(--offset-medium-huge);
    }

    &--about {
      mix-blend-mode: multiply;
      padding: var(--offset-medium-huge);

      @include big-desktop {
        margin-bottom: var(--offset-medium-large);
      }
    }

    @include mobile {
      padding: var(--offset-medium);
    }
  }

  &__decor {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: transform 0.6s linear;

    &--products {
      top: 0;
      left: 0;
      translate: 0 0;
      width: auto;
      height: 100%;
    }

    &--about {
      object-fit: fill;
    }
  }

  &__image {
    border-radius: 50%;
    aspect-ratio: 1;

    &--products {
      border-radius: 0;
    }
  }

  .swiper {
    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: var(--offset-medium);

      @include big-desktop {
        position: static;
      }
    }
  }
}
