<section class="about-info">
  <div class="about-info__container container">
    <img
      class="about-info__image"
      loading="lazy"
      src="./img/page-hero-img/page-hero-products/page-hero-products.png"
      width="608"
      height="615"
      alt="Capnia's Innovative CoSense® ETCOc Monitor: Revolutionizing Jaundice Management in Newborns through Sensalyze™ Technology" />
    <div class="about-info__content">
      <div class="about-info__info">
        <h2 class="about-info__title">Capnia Inc.</h2>
        <div class="about-info__text text-medium">
          <p>
            In 2017, Capnia acquired the
            <i>CoSense®</i>
            ETCOc Monitor's intellectual property, an innovation powered by Sensalyze™ Technology, from Soleno
            Therapeutics. Since the strategic acquisition, Capnia’s dedicated team has taken significant strides in
            advancing the technology, conducting rigorous validation processes, and is now commercializing this
            revolutionary technology to improve jaundice management in newborns. With a team of seasoned experts in both
            business and clinical fields, Capnia is dedicated to advancing healthcare through innovation, aiming to
            positively impact infants, neonates, and families globally by elevating care standards.
          </p>
        </div>
      </div>
      <div class="about-info__info">
        <h3 class="about-info__subtitle">Management Team</h3>
        <div class="about-info__text text-medium">
          <p>
            Anthony Wu, Chief Executive OfficerKaren Du, Director of OperationsBob Jeney, VP Sales and MarketingEd
            Bauman, Director of QA/Regulatory Compliance
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
