<section
  id="clinical-resources-info-cosense-studies"
  class="clinical-resources-info clinical-resources-info--cosense-studies"
>
  <div
    class="clinical-resources-info__container clinical-resources-info__container--cosense-studies container"
  >
    <div
      class="clinical-resources-info__wrapper clinical-resources-info__wrapper--cosense-studies"
    >
      <a
        class="clinical-resources-info__download text-medium"
        href="capnia-clinical-studies-2024-v02.pdf"
        title="click to download pdf file"
        download
      >
        <img
          class="clinical-resources-info__download-img"
          src="./img/clinical-resources-download-img.png"
          width="160"
          height="207"
          alt=""
          aria-hidden="true"
          loading="lazy"
        />
        Download the PDF
      </a>
      <a
        class="clinical-resources-info__to-top clinical-resources-info__to-top--cosense-studies"
        href="#clinical-resources-info-cosense-studies"
      >
        top
      </a>
      <div
        class="clinical-resources-info__inner clinical-resources-info__inner--cosense-studies"
      >
        <div class="clinical-resources-info__content">
          <h2
            class="clinical-resources-info__title clinical-resources-info__title--cosense-studies"
          >
            <i>CoSense</i>
            Studies Table
          </h2>
          <search class="clinical-resources-info__search">
            <form
              class="clinical-resources-info__form"
              action="#"
              id="clinical-resources-info-form"
              method="POST"
            >
              <input
                class="clinical-resources-info__input"
                type="search"
                id="clinical-resources-info-seacrh"
                name="searchQuery"
                placeholder="Search"
                title="Enter your search query"
                autocomplete="off"
              />
              <button
                class="clinical-resources-info__button"
                type="submit"
                form="clinical-resources-info-form"
              ></button>
            </form>
          </search>
        </div>
        <table class="clinical-resources-info__table">
          <caption class="visually-hidden">
            Clinical Resources on End-Tidal Carbon Monoxide (ETCOc) in Neonatal
            Hemolysis
          </caption>
          <thead class="clinical-resources-info__table-thead">
            <tr>
              <th>Citation</th>
              <th>Sample size & Inclusion criteria</th>
              <th>Country of origin</th>
              <th>Conclusions</th>
            </tr>
          </thead>
          <tbody class="clinical-resources-info__table-tbody">
            <tr>
              <td data-title="Citation">
                <span>2023</span>
                <span>
                  Christensen RD, Bahr TM, Pakeeto S, Supapannachart S, Zhang,
                  HY.
                </span>
                <span>
                  <i>Current Ped. Reviews</i>
                  2023, 19, 376-387
                </span>
              </td>
              <td data-title="Sample size & Inclusion criteria"></td>
              <td data-title="Country of origin">USA, Thailand, China</td>
              <td data-title="Conclusions">
                Established normal reference intervals for ETCO in various
                perinatal populations can be used to (1) identify patients with
                hemolytic disorders from any cause, (2) characterize the
                severity of hemolysis in each patient, and (3) predict and
                prevent co-morbidities, and thereby improving outcomes. Reports
                and theories support the use of ETCO methodology to diagnose and
                quantify hemolytic disorder in term and premature neonates,
                anemic pregnant women, and fetuses in utero.
              </td>
            </tr>
            <tr>
              <td data-title="Citation">
                <span>2023</span>
                <span>Yang G, Deng L, Zhang K, Yuan Y, Zhang H.</span>
                <span>
                  Pediatric Academic Societies (PAS) Presentation, April 2023
                </span>
              </td>
              <td data-title="Sample size & Inclusion criteria">
                n=2500 &lt; 35 wks, TB &gt;40th percentile
              </td>
              <td data-title="Country of origin">China</td>
              <td data-title="Conclusions">
                The use of ETCOc with TCB can decrease the rate of first
                phototherapy within 7 days of life (DOL) by 23% and it is
                associated with early identification of infants who needed
                phototherapy.The intervention group received risk assessment
                based on ETCOc &lt; 1.5 ppm indicates low risk, > 1.5 ppm
                indicates increased risk for hemolysis. The intervention group
                started phototherapy earlier with higher ETCOc level but similar
                TCB/TSB.
              </td>
            </tr>
            <tr>
              <td data-title="Citation">
                <span>2023</span>
                <span>Du L.</span>
                <span>
                  Pediatric Academic Societies (PAS) Presentation, April 2023
                </span>
              </td>
              <td data-title="Sample size & Inclusion criteria">
                Review of studies
              </td>
              <td data-title="Country of origin"></td>
              <td data-title="Conclusions">
                The predominant cause of elevated TSB is an increase in
                bilirubin production primarily due to ongoing hemolysis. The
                diagnosis of ABO hemolytic disease of the newborn (HDN) and
                optimal management can be improved by ETCOc technology. ETCOc,
                in combination with TSB/TcB, can be used to identify and predict
                hemolytic hyperbilirubinemia requiring phototherapy or
                readmission in the early postnatal period (late-first week of
                life).
              </td>
            </tr>
            <tr>
              <td data-title="Citation">
                <span>2023</span>
                <span>
                  Christensen RD, Bahr TM, Wong RJ, Vreman HJ, Bhutani VK,
                  Stevenson DK.
                </span>
                <span>
                  <i>J Perinatol.</i>
                  2023 Jul 19.
                </span>
              </td>
              <td data-title="Sample size & Inclusion criteria">
                Clinically available tests for hemolysis
              </td>
              <td data-title="Country of origin">USA</td>
              <td data-title="Conclusions">
                ETCOc measurement is the "Gold Standard" to diagnose hemolysis
                in a neonate and infant and best fulfills the AAP 2022
                recommendation to “identify neonates with hemolysis from any
                cause.” ETCOc is reproducible, have few false positives and
                false negatives, and is as sensitive and specific as is
                carboxyhemoglobin quantification. The test is easy to perform,
                rapid (one to two minutes), and noninvasive. Making a confident
                diagnosis of hemolysis can identify neonates that need: (1)
                vigilant monitoring of bilirubin and hemoglobin levels; (2)
                phototherapy; (3) post-phototherapy bilirubin monitoring; and
                (4) outpatient follow-up and neurodevelopmental assessment.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
