<section class="clinical-resources">
  <div class="container">
    <div class="clinical-resources__wrapper">
      <h1 class="clinical-resources__title title-huge">Clinical Resources</h1>
      <ul class="clinical-resources__list">
        <li class="clinical-resources__item">
          <a class="clinical-resources__link" href="cosense-studies.html">
            <i>CoSense</i>
            Studies
          </a>
        </li>
        <li class="clinical-resources__item">
          <a
            class="clinical-resources__link clinical-resources__link--active"
            href="bibliography.html"
          >
            Bibliography
          </a>
        </li>
        <li class="clinical-resources__item">
          <a class="clinical-resources__link" href="guidelines.html">
            Guidelines
          </a>
        </li>
      </ul>
      <div class="clinical-resources__text text-huge">
        <p>
          Read the well-established and mounting body of evidence recognizing
          the risks of unmanaged Jaundice and supporting the use of ETCOc
          testing with newborns.
        </p>
      </div>
    </div>
  </div>
</section>
