<section class="clinical-resources">
  <div class="container">
    <div class="clinical-resources__wrapper">
      <h1 class="clinical-resources__title title-huge">Clinical Resources</h1>
      <ul class="clinical-resources__list">
        <li class="clinical-resources__item">
          <a class="clinical-resources__link" href="cosense-studies.html">
            <i>CoSense</i>
            Studies
          </a>
        </li>
        <li class="clinical-resources__item">
          <a class="clinical-resources__link" href="bibliography.html">
            Bibliography
          </a>
        </li>
        <li class="clinical-resources__item">
          <a
            class="clinical-resources__link clinical-resources__link--active"
            href="guidelines.html"
          >
            Guidelines
          </a>
        </li>
      </ul>
      <div class="clinical-resources__text text-huge">
        <p>
          Review summary excerpts from the American Academy of Pediatrics (AAP)
          Clinical Guidelines which support the adoption of ETCOc tests for the
          detection and treatment of newborn babies.
        </p>
      </div>
    </div>
  </div>
</section>
