<section
  id="clinical-resources-info-cosense-studies"
  class="clinical-resources-info clinical-resources-info--cosense-studies"
>
  <div
    class="clinical-resources-info__container clinical-resources-info__container--cosense-studies container"
  >
    <div
      class="clinical-resources-info__wrapper clinical-resources-info__wrapper--cosense-studies"
    >
      <a
        class="clinical-resources-info__download text-medium"
        href="capnia-clinical-studies-2024-v02.pdf"
        title="click to download pdf file"
        download
      >
        <img
          class="clinical-resources-info__download-img"
          src="./img/clinical-resources-download-img.png"
          width="160"
          height="207"
          alt=""
          aria-hidden="true"
          loading="lazy"
        />
        Download the PDF
      </a>
      <a
        class="clinical-resources-info__to-top clinical-resources-info__to-top--cosense-studies"
        href="#clinical-resources-info-cosense-studies"
      >
        top
      </a>
      <div
        class="clinical-resources-info__inner clinical-resources-info__inner--cosense-studies"
      >
        <div class="clinical-resources-info__content">
          <h2
            class="clinical-resources-info__title clinical-resources-info__title--cosense-studies"
          >
            <i>CoSense</i>
            Studies Table
          </h2>
          <search class="clinical-resources-info__search">
            <form
              class="clinical-resources-info__form"
              action="#"
              id="clinical-resources-info-form"
              method="POST"
            >
              <input
                class="clinical-resources-info__input"
                type="search"
                id="clinical-resources-info-seacrh"
                name="searchQuery"
                placeholder="Search"
                title="Enter your search query"
                autocomplete="off"
              />
              <button
                class="clinical-resources-info__button"
                type="submit"
                form="clinical-resources-info-form"
              ></button>
            </form>
          </search>
        </div>
        <table class="clinical-resources-info__table">
          <caption class="visually-hidden">
            Clinical Resources on End-Tidal Carbon Monoxide (ETCOc) in Neonatal
            Hemolysis
          </caption>
          <thead class="clinical-resources-info__table-thead">
            <tr>
              <th>Citation</th>
              <th>Sample size & Inclusion criteria</th>
              <th>Country of origin</th>
              <th>Conclusions</th>
            </tr>
          </thead>
          <tbody class="clinical-resources-info__table-tbody">
            <tr>
              <td data-title="Citation">
                <span>2023</span>
                <span>
                  Christensen RD, Bahr TM, Pakeeto S, Supapannachart S, Zhang,
                  HY.
                </span>
                <span>
                  <i>Current Ped. Reviews</i>
                  2023, 19, 376-387
                </span>
              </td>
              <td data-title="Sample size & Inclusion criteria"></td>
              <td data-title="Country of origin">USA, Thailand, China</td>
              <td data-title="Conclusions">
                <ul>
                  <li>
                    Established normal reference intervals for ETCO in various
                    perinatal populations can be used to (1) identify patients
                    with hemolytic disorders from any cause, (2) characterize
                    the severity of hemolysis in each patient, and (3) predict
                    and prevent co-morbidities, and thereby improving outcomes.
                  </li>
                  <li>
                    Reports and theories support the use of ETCO methodology to
                    diagnose and quantify hemolytic disorder in term and
                    premature neonates, anemic pregnant women, and fetuses in
                    utero.
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td data-title="Citation">
                <span>2023</span>
                <span>Yang G, Deng L, Zhang K, Yuan Y, Zhang H.</span>
                <span>
                  Pediatric Academic Societies (PAS) Presentation, April 2023
                </span>
              </td>
              <td data-title="Sample size & Inclusion criteria">
                n=2500 &lt; 35 wks, TB &gt;40th percentile
              </td>
              <td data-title="Country of origin">China</td>
              <td data-title="Conclusions">
                <ul>
                  <li>
                    The use of ETCOc with TCB can decrease the rate of first
                    phototherapy within 7 days of life (DOL) by 23% and it is
                    associated with early identification of infants who needed
                    phototherapy.
                  </li>
                  <li>
                    The intervention group received risk assessment based on
                    ETCOc &lt; 1.5 ppm indicates low risk, > 1.5 ppm indicates
                    increased risk for hemolysis. The intervention group started
                    phototherapy earlier with higher ETCOc level but similar
                    TCB/TSB.
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td data-title="Citation">
                <span>2023</span>
                <span>Du L.</span>
                <span>
                  Pediatric Academic Societies (PAS) Presentation, April 2023
                </span>
              </td>
              <td data-title="Sample size & Inclusion criteria">
                Review of studies
              </td>
              <td data-title="Country of origin"></td>
              <td data-title="Conclusions">
                <ul>
                  <li>
                    The predominant cause of elevated TSB is an increase in
                    bilirubin production primarily due to ongoing hemolysis.
                  </li>
                  <li>
                    The diagnosis of ABO hemolytic disease of the newborn (HDN)
                    and optimal management can be improved by ETCOc technology.
                  </li>
                  <li>
                    ETCOc, in combination with TSB/TcB, can be used to identify
                    and predict hemolytic hyperbilirubinemia requiring
                    phototherapy or readmission in the early postnatal period
                    (late-first week of life).
                  </li>
                </ul>
              </td>
            </tr>
            <tr id="test-222">
              <td data-title="Citation">
                <span>2023</span>
                <span>
                  Christensen RD, Bahr TM, Wong RJ, Vreman HJ, Bhutani VK,
                  Stevenson DK.
                </span>
                <span>
                  <i>J Perinatol.</i>
                  2023 Jul 19.
                </span>
              </td>
              <td data-title="Sample size & Inclusion criteria">
                Clinically available tests for hemolysis
              </td>
              <td data-title="Country of origin">USA</td>
              <td data-title="Conclusions">
                <ul>
                  <li>
                    ETCOc measurement is the "Gold Standard" to diagnose
                    hemolysis in a neonate and infant and best fulfills the AAP
                    2022 recommendation to “identify neonates with hemolysis
                    from any cause.”
                  </li>
                  <li>
                    ETCOc is reproducible, have few false positives and false
                    negatives, and is as sensitive and specific as is
                    carboxyhemoglobin quantification.
                  </li>
                  <li>
                    The test is easy to perform, rapid (one to two minutes), and
                    noninvasive.
                  </li>
                  <li>
                    Making a confident diagnosis of hemolysis can identify
                    neonates that need: (1) vigilant monitoring of bilirubin and
                    hemoglobin levels; (2) phototherapy; (3) post-phototherapy
                    bilirubin monitoring; and (4) outpatient follow-up and
                    neurodevelopmental assessment.
                  </li>
                </ul>
              </td>
            </tr>
            <tr id="test-226">
              <td data-title="Citation">
                <span>2022</span>
                <span>Bao Y, Zhu J, Ma L, Zhang H, Sun L, Xu C, et al.</span>
                <span>J Pediatr.2022;250:16–21.e3.</span>
              </td>
              <td data-title="Sample size & Inclusion criteria">
                L, Xu C, et al. J Pediatr.2022;250:16–21.e3. 455 35-42 wks,
                2500g, 12-120 HOL
              </td>
              <td data-title="Country of origin">China</td>
              <td data-title="Conclusions">
                <ul>
                  <li>
                    Establish a reference nomogram for end-tidal CO corrected
                    for ambient CO (ETCOc) levels in term and late-preterm
                    newborns and its efficacy to identify hemolytic HB.
                  </li>
                  <li>
                    For predicting HB requiring predischarge phototherapy in the
                    early postnatal period, the combination of ETCOc ≥75th
                    percentile and TSB/TcB ≥75th percentile had the best
                    sensitivity (92.1%).
                  </li>
                  <li>
                    The combination of ETCOc ≥95th percentile and TSB/TcB ≥75th
                    percentile yielded the best specificity (97.8%).
                  </li>
                  <li>
                    For predicting readmission for HB, ETCOc > 1.7 ppm in the
                    late postnatal period had the highest AUC (0.82), the
                    combination of ETCOc ≥95th percentile and TSB/TcB ≥75th
                    percentile had a specificity of 98.4%, 90.5% readmitted
                    infants had predischarge ETCOc ≥75th percentile.
                  </li>
                </ul>
              </td>
            </tr>
            <tr id="test-172">
              <td data-title="Citation">
                <span>2023</span>
                <span>Yang G, Deng L, Zhang K, Yuan Y, Zhang H.</span>
                <span>
                  Pediatric Academic Societies (PAS) Presentation, April 2023
                </span>
              </td>
              <td data-title="Sample size & Inclusion criteria">
                n=2500 &lt; 35 wks, TB &gt;40th percentile
              </td>
              <td data-title="Country of origin">China</td>
              <td data-title="Conclusions">
                <ul>
                  <li>
                    Established normal reference intervals for ETCO in various
                    perinatal populations can be used to (1) identify patients
                    with hemolytic disorders from any cause, (2) characterize
                    the severity of hemolysis in each patient, and (3) predict
                    and prevent co-morbidities, and thereby improving outcomes.
                  </li>
                  <li>
                    Reports and theories support the use of ETCO methodology to
                    diagnose and quantify hemolytic disorder in term and
                    premature neonates, anemic pregnant women, and fetuses in
                    utero.
                  </li>
                </ul>
              </td>
            </tr>
            <tr id="test-228">
              <td data-title="Citation">
                <span>2021</span>
                <span>
                  Bahr TM, Shakib JH, Stipelman CH, Kawamoto K, Lauer S,
                  Christensen RD.
                </span>
                <span>J Pediatr. 2021 Nov;238:168-173.e2.</span>
              </td>
              <td data-title="Sample size & Inclusion criteria">
                170 Infants receiving phototherapy
              </td>
              <td data-title="Country of origin">USA</td>
              <td data-title="Conclusions">
                <ul>
                  <li>
                    Higher ETCOc values were associated with earlier treatment
                    and with and longer duration of phototherapy, and ETCO has
                    predictive value to prevent readmission.
                  </li>
                  <li>
                    There is no associations between ETCOc and birth weight,
                    gestational age, maximum total serum bilirubin (TSB) during
                    hospitalization, positive direct Coombs test, age at maximum
                    TSB, or length of hospital stay.
                  </li>
                  <li>
                    However, there is an association between ETCOc (considered
                    as either a continuous or categorical variable) with the age
                    of initiation of phototherapy.
                  </li>
                  <li>
                    ETCOc measurement will be increasingly important to both
                    avoid the risks of phototherapy for infants who do not
                    require it, and to ensure increased vigilance of those with
                    high ETCOc who are at risk of bilirubin neurotoxicity.
                  </li>
                  <li>
                    For every 1ppm increase, phototherapy needs to start 9.1
                    hours early or extend 9.3 hours.
                  </li>
                  <li>
                    DAT is an unreliable marker of clinically relevant
                    hemolysis. Dropping DAT from their protocol will save the
                    hospital approximately $200,000/year.
                  </li>
                </ul>
              </td>
            </tr>
            <tr id="test-231">
              <td data-title="Citation">
                <span>2020</span>
                <span>
                  Elsaie AL, Taleb M, Nicosia A, Zangaladze A, Pease ME, Newton
                  K, Schutzman DL.
                </span>
                <span>J Perinatol. 2020 Oct;40(10):1513- 1517.</span>
              </td>
              <td data-title="Sample size & Inclusion criteria">
                191 &lt; 35 wks, ETCO and DAT positive
              </td>
              <td data-title="Country of origin">USA</td>
              <td data-title="Conclusions">
                <ul>
                  <li>
                    Only 27.2% of 191 DAT(+) infants were hemolyzing based on
                    ETCOc, while 29.1% of DAT (-) infants were hemolyzing based
                    on ETCOc.
                  </li>
                  <li>
                    Applying the AAP criteria for initiating phototherapy, the
                    researchers found that the management of 9.4% of the infants
                    would have been different had ETCOc been used as an
                    indicator of significant hemolysis as opposed to DAT(+).
                  </li>
                  <li>
                    13 of 18 infants would have avoided phototherapy. TSB
                    screening results do not have a turnaround time that is
                    rapid enough to be useful for the clinical management of HB.
                  </li>
                  <li>
                    Thus, the use of ETCOc should be valuable for identifying
                    those infants who are at increased risk of BIND.
                  </li>
                  <li>
                    ETCOc is a more accurate determinant of hemolysis in the
                    newborn, and its use can lead to less phototherapy
                  </li>
                </ul>
              </td>
            </tr>
            <tr id="test-232">
              <td data-title="Citation">
                <span>2023</span>
                <span>
                  Ruparel JN, Madani A, Escovedo C, Henry A, Nadar K, Rabizadeh
                  S, Bhutani V, Berger G, Reanton G, and Mirocha J.
                </span>
                <span>
                  American Academy of Pediatrics (AAP) Presentation, Oct 2023
                </span>
              </td>
              <td data-title="Sample size & Inclusion criteria">
                122+600 &lt; 35 wks, TB &gt;75th percentile, 122 intervention,
                600 control
              </td>
              <td data-title="Country of origin">USA</td>
              <td data-title="Conclusions">
                <ul>
                  <li>
                    ETCOc enhances routine management of neonatal HB in
                    well-baby nursery by decreasing the number of lab tests
                    ordered and potentially reducing cost and blood testing
                    burden.
                  </li>
                </ul>
              </td>
            </tr>
            <tr id="test-173">
              <td data-title="Citation">
                <span>2023</span>
                <span>
                  Christensen RD, Bahr TM, Wong RJ, Vreman HJ, Bhutani VK,
                  Stevenson DK.
                </span>
                <span>J Perinatol. 2023 Jul 19.</span>
              </td>
              <td data-title="Sample size & Inclusion criteria">
                Review of studies
              </td>
              <td data-title="Country of origin"></td>
              <td data-title="Conclusions">
                <ul>
                  <li>
                    The predominant cause of elevated TSB is an increase in
                    bilirubin production primarily due to ongoing hemolysis.
                  </li>
                  <li>
                    The diagnosis of ABO hemolytic disease of the newborn (HDN)
                    and optimal management can be improved by ETCOc technology.
                  </li>
                  <li>
                    ETCOc, in combination with TSB/TcB, can be used to identify
                    and predict hemolytic hyperbilirubinemia requiring
                    phototherapy or readmission in the early postnatal period
                    (late-first week of life).
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
