<section class="clinical-study">
  <div class="clinical-study__container container">
    <h2 class="visually-hidden">
      "CoSense®: A Decade of Research Paves the Way for Universal Newborn
      Monitoring and Targeted Jaundice Treatment."
    </h2>
    <h3 class="clinical-study__title">
      After 10 years of clinical study, CoSense is NOW available for use on all
      babies.
    </h3>
    <div class="clinical-study__text text-medium">
      <p>
        For more than a decade, peer-reviewed research has validated the ability
        of the <span>CoSense®</span> ETCOc monitor to detect and measure
        hemolysis in newborns to guide effective jaundice treatment.
      </p>
    </div>
    <div class="clinical-study__info">
      <h4 class="clinical-study__subtitle">
        View A summary of <span> CoSense</span> Clinical Evidence
      </h4>
      <a class="clinical-study__link link link--light-blue" href="#"
        >Review the Clinical Evidence</a
      >
    </div>
  </div>
</section>
