<section class="consultants">
  <div class="consultants__container container">
    <aside class="consultants__aside">
      <h2 class="consultants__title title-huge">Our clinical advisors</h2>
    </aside>
    <div class="consultants__items">
      <div class="consultants__swiper swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/consultants-img/consultants-image-1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="./img/consultants-img/consultants-image-1.jpg"
                class="consultants-image"
                width="300"
                height="300"
                alt="Timothy M. Bahr MS, MD" />
            </picture>
            <h3 class="consultants__name">Timothy M. Bahr MS, MD</h3>
            <div class="consultants__description text-medium">
              <p>Assistant Professor of Pediatrics Intermountain Health, University of Utah.</p>
            </div>
            <button
              class="consultants__button link link--stroke js-open-modal"
              type="button"
              aria-label="Open modal"
              title="Open modal">
              Learn More
            </button>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/consultants-img/consultants-image-2.webp" type="image/webp" />
              <img
                loading="lazy"
                src="./img/consultants-img/consultants-image-2.jpg"
                class="consultants-image"
                width="300"
                height="300"
                alt="Anthony E. Burgos, MD, MPH" />
            </picture>
            <h3 class="consultants__name">Anthony E. Burgos, MD, MPH</h3>
            <div class="consultants__description text-medium">
              <p>
                Associate Professor, Clinical Science Health Systems Science, Kaiser Permanente Bernard J. Tyson School
                of Medicine, and regional coordinator for normal newborn care at Kaiser Permanente Downey Medical
                Center.
              </p>
            </div>
            <button
              class="consultants__button link link--stroke js-open-modal"
              type="button"
              aria-label="Open modal"
              title="Open modal">
              Learn More
            </button>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/consultants-img/consultants-image-3.webp" type="image/webp" />
              <img
                loading="lazy"
                src="./img/consultants-img/consultants-image-3.jpg"
                class="consultants-image"
                width="300"
                height="300"
                alt="Robert D. Christensen, MD" />
            </picture>
            <h3 class="consultants__name">Robert D. Christensen, MD</h3>
            <div class="consultants__description text-medium">
              <p>
                Director of Neonatal Research at Intermountain Healthcare and Director of the Intermountain Healthcare
                Clinical Neonatology Program, Northern region.
              </p>
            </div>
            <button
              class="consultants__button link link--stroke js-open-modal"
              type="button"
              aria-label="Open modal"
              title="Open modal">
              Learn More
            </button>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="./img/consultants-img/consultants-image-4.webp" type="image/webp" />
              <img
                loading="lazy"
                src="./img/consultants-img/consultants-image-4.jpg"
                class="consultants-image"
                width="300"
                height="300"
                alt="Dr. David L. Schutzman MD" />
            </picture>
            <h3 class="consultants__name">
              David L. Schutzman, MD, Associate Professor of Pediatrics, Thomas Jefferson University
            </h3>
            <div class="consultants__description text-medium">
              <p>
                Dr. Schutzman is a neonatologist at Jefferson Einstein Medical Center in Philadelphia. Dr. Schutzman
                completed medical school, a Pediatric residency, and a fellowship in Neonatal-Perinatal Medicine at
                Jefferson Medical College. While his career has primarily been clinical in nature, he has published on
                multiple topics relevant to newborns. Most recently, he has focused his research on hyperbilirubinemia
                of the newborn and its management.
              </p>
            </div>
            <button
              class="consultants__button link link--stroke js-open-modal"
              type="button"
              aria-label="Open modal"
              title="Open modal">
              Learn More
            </button>
          </div>
        </div>
      </div>
      <div class="consultants__dialogs">
        <dialog
          class="consultants__dialog dialog js-modal"
          aria-labelledby="dialog-header-consultants-one"
          aria-describedby="dialog-content-consultants-one">
          <div class="dialog__modal-close js-close-modal">
            <button class="dialog__modal-btn" type="button" aria-label="Close modal" title="Close modal" autofocus>
              <svg class="dialog__modal-icon">
                <use xlink:href="./img/sprite.svg#modal-close-icon"></use>
              </svg>
            </button>
          </div>
          <div class="dialog__modal-content">
            <div class="dialog__modal-info dialog__modal-info--consultants">
              <picture>
                <source srcset="./img/consultants-img/consultants-image-1.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="./img/consultants-img/consultants-image-1.jpg"
                  class="consultants-image"
                  width="300"
                  height="300"
                  alt="Timothy M. Bahr MS, MD" />
              </picture>
              <h4 class="dialog__modal-name" id="dialog-header-consultants-one">Timothy M. Bahr MS,MD</h4>
              <div class="dialog__modal-description">
                <p>Assistant Professor of Pediatrics Intermountain Health, University of Utah.</p>
              </div>
            </div>
            <div
              class="dialog__modal-text dialog__modal-text--consultants text-medium"
              id="dialog-content-consultants-one">
              <p>
                Dr. Bahr is a neonatologist and Assistant Professor of Pediatrics at Intermountain Health and the
                University of Utah. Dr. Bahr completed medical school at the University of Iowa and his pediatrics
                residency at Phoenix Children's Hospital. He completed his fellowship in neonatology and neonatal
                hematology with Drs. Robert Christensen and Robin Ohls at the University of Utah in Salt Lake City, UT.
                Dr. Bahr’s research and clinical interests are in hematologic disorders of neonates. He has published
                extensive clinical and translational research in areas such as (1) the management and diagnosis of
                neonates with hyperbilirubinemia; (2) preventing, detecting, and managing iron deficiency in preterm
                neonates; and (3) improving neonatal transfusion practices.
              </p>
            </div>
          </div>
        </dialog>
        <dialog
          class="consultants__dialog dialog js-modal"
          aria-labelledby="dialog-header-consultants-two"
          aria-describedby="dialog-content-consultants-two">
          <div class="dialog__modal-close js-close-modal">
            <button class="dialog__modal-btn" type="button" aria-label="Close modal" title="Close modal" autofocus>
              <svg class="dialog__modal-icon">
                <use xlink:href="./img/sprite.svg#modal-close-icon"></use>
              </svg>
            </button>
          </div>
          <div class="dialog__modal-content">
            <div class="dialog__modal-info dialog__modal-info--consultants">
              <picture>
                <source srcset="./img/consultants-img/consultants-image-2.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="./img/consultants-img/consultants-image-2.jpg"
                  class="consultants-image"
                  width="300"
                  height="300"
                  alt="Anthony E. Burgos, MD, MPH" />
              </picture>
              <h4 class="dialog__modal-name" id="dialog-header-consultants-two">Anthony E. Burgos, MD, MPH</h4>
              <div class="dialog__modal-description">
                <p>
                  Associate Professor, Clinical Science Health Systems Science, Kaiser Permanente Bernard J. Tyson
                  School of Medicine, and regional coordinator for normal newborn care at Kaiser Permanente Downey
                  Medical Center.
                </p>
              </div>
            </div>
            <div
              class="dialog__modal-text dialog__modal-text--consultants text-medium"
              id="dialog-content-consultants-two">
              <p>
                Lorem ipsum dolor sit amet consectetur. Eleifend quam amet ullamcorper in vestibulum tempus viverra
                senectus feugiat. Fermentum lacus faucibus diam dui nunc faucibus. Integer egestas cursus accumsan ipsum
                ante blandit id nibh. Proin in sit facilisis convallis odio nunc. Libero nisi vitae dui aliquam. Eu ut
                maecenas nunc etiam posuere eu neque lacus aliquet. Elementum imperdiet posuere iaculis duis bibendum
                convallis non. Vel eu parturient tempus quis ipsum fermentum. Semper massa scelerisque eu senectus dolor
                sagittis etiam felis. Tincidunt interdum sit ullamcorper facilisis diam id arcu. Lectus ac ipsum
                elementum venenatis feugiat. Massa tempus lacinia posuere neque metus augue phasellus. Velit nulla orci
                pellentesque morbi diam fusce ac et. Tincidunt eu arcu mi tristique pulvinar varius. Odio tellus magna
                velit malesuada imperdiet in mauris. Etiam tempus leo est at consequat nulla purus urna justo. Nunc mi
                in mauris dignissim. Eros vel commodo in porttitor lectus sed facilisis. Ipsum id senectus turpis
                sodales ipsum. Nec quis vulputate sollicitudin ac blandit quam. Tristique euismod maecenas congue
                quisque dignissim semper turpis.
              </p>
            </div>
          </div>
        </dialog>
        <dialog
          class="consultants__dialog dialog js-modal"
          aria-labelledby="dialog-header-consultants-three"
          aria-describedby="dialog-content-consultants-three">
          <div class="dialog__modal-close js-close-modal">
            <button class="dialog__modal-btn" type="button" aria-label="Close modal" title="Close modal" autofocus>
              <svg class="dialog__modal-icon">
                <use xlink:href="./img/sprite.svg#modal-close-icon"></use>
              </svg>
            </button>
          </div>
          <div class="dialog__modal-content">
            <div class="dialog__modal-info dialog__modal-info--consultants">
              <picture>
                <source srcset="./img/consultants-img/consultants-image-3.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="./img/consultants-img/consultants-image-3.jpg"
                  class="consultants-image"
                  width="300"
                  height="300"
                  alt="Robert D. Christensen, MD" />
              </picture>
              <h4 class="dialog__modal-name" id="dialog-header-consultants-three">Robert D. Christensen, MD</h4>
              <div class="dialog__modal-description">
                <p>
                  Director of Neonatal Research at Intermountain Healthcare and Director of the Intermountain Healthcare
                  Clinical Neonatology Program, Northern region.
                </p>
              </div>
            </div>
            <div
              class="dialog__modal-text dialog__modal-text--consultants text-medium"
              id="dialog-content-consultants-three">
              <p>
                Dr. Christensen, a pro bono advisor, is the Director of Neonatal Research at Intermountain Healthcare
                and Director of the Intermountain Healthcare Clinical Neonatology Program for the northern region, where
                the majority of his research work is focused on observational and interventional clinical studies of
                neonatal clinical hematology and transfusion medicine. Dr. Christensen held positions including
                Professor of Pediatrics at the University of Utah School of Medicine, the University of Florida College
                of Medicine, and the University of South Florida College of Medicine, and was Physician-in-Chief at All
                Children’s Hospital in St. Petersburg, Florida. He has been a member of the NIH National Heart, Lung and
                Blood Institute, NIH National Institute of Child Health and Human Development, and National Foundation
                March of Dimes, was on the executive committee of Thrasher Research Fund, and was sub-committee chair of
                the American Academy of Pediatrics. He has authored over 300 publications.
              </p>
            </div>
          </div>
        </dialog>
        <dialog
          class="consultants__dialog dialog js-modal"
          aria-labelledby="dialog-header-consultants-four"
          aria-describedby="dialog-content-consultants-four">
          <div class="dialog__modal-close js-close-modal">
            <button class="dialog__modal-btn" type="button" aria-label="Close modal" title="Close modal" autofocus>
              <svg class="dialog__modal-icon">
                <use xlink:href="./img/sprite.svg#modal-close-icon"></use>
              </svg>
            </button>
          </div>
          <div class="dialog__modal-content">
            <div class="dialog__modal-info dialog__modal-info--consultants">
              <picture>
                <source srcset="./img/consultants-img/consultants-image-4.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="./img/consultants-img/consultants-image-4.jpg"
                  class="consultants-image"
                  width="300"
                  height="300"
                  alt="Dr. David L. Schutzman MD" />
              </picture>
              <h4 class="dialog__modal-name" id="dialog-header-consultants-four">
                David L. Schutzman, MD, Associate Professor of Pediatrics, Thomas Jefferson University
              </h4>
              <div class="dialog__modal-description">
                <p>
                  Dr. Schutzman is a neonatologist at Jefferson Einstein Medical Center in Philadelphia. Dr. Schutzman
                  completed medical school, a Pediatric residency, and a fellowship in Neonatal-Perinatal Medicine at
                  Jefferson Medical College. While his career has primarily been clinical in nature, he has published on
                  multiple topics relevant to newborns. Most recently, he has focused his research on hyperbilirubinemia
                  of the newborn and its management.
                </p>
              </div>
            </div>
            <div
              class="dialog__modal-text dialog__modal-text--consultants text-medium"
              id="dialog-content-consultants-four">
              <p>
                Lorem ipsum dolor sit amet consectetur. Eleifend quam amet ullamcorper in vestibulum tempus viverra
                senectus feugiat. Fermentum lacus faucibus diam dui nunc faucibus. Integer egestas cursus accumsan ipsum
                ante blandit id nibh. Proin in sit facilisis convallis odio nunc. Libero nisi vitae dui aliquam. Eu ut
                maecenas nunc etiam posuere eu neque lacus aliquet. Elementum imperdiet posuere iaculis duis bibendum
                convallis non. Vel eu parturient tempus quis ipsum fermentum. Semper massa scelerisque eu senectus dolor
                sagittis etiam felis. Tincidunt interdum sit ullamcorper facilisis diam id arcu. Lectus ac ipsum
                elementum venenatis feugiat. Massa tempus lacinia posuere neque metus augue phasellus. Velit nulla orci
                pellentesque morbi diam fusce ac et. Tincidunt eu arcu mi tristique pulvinar varius. Odio tellus magna
                velit malesuada imperdiet in mauris. Etiam tempus leo est at consequat nulla purus urna justo. Nunc mi
                in mauris dignissim. Eros vel commodo in porttitor lectus sed facilisis. Ipsum id senectus turpis
                sodales ipsum. Nec quis vulputate sollicitudin ac blandit quam. Tristique euismod maecenas congue
                quisque dignissim semper turpis.
              </p>
            </div>
          </div>
        </dialog>
      </div>
    </div>
  </div>
</section>
