<header class="header">
  <div class="header__container container-additional">
    <a class="header__logo" href="#">
      <img
        loading="lazy"
        src="img/logo.svg"
        class="header__logo-image"
        width="176"
        height="40"
        alt="Capnia logo"
      />
    </a>
    <nav class="header__nav" aria-label="Main navigation" data-menu>
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a
            href="#"
            class="header__nav-link header__nav-link--home"
            data-menu-item
            >Home</a
          >
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link" data-menu-item>
            <span class="header__nav-link-text">CoSense</span>
            Product
          </a>
        </li>
        <li class="header__nav-item">
          <button
            class="header__nav-link js-btn-dropdown"
            type="button"
            aria-label="Open submenu navigation"
            title="Open submenu navigation"
          >
            Clinical Resources
          </button>
          <div class="dropdown">
            <ul class="dropdown__list">
              <li class="dropdown__item">
                <a class="dropdown__link" href="#"
                  ><span class="dropdown__link-text">CoSense</span>Studies</a
                >
              </li>
              <li class="dropdown__item">
                <a class="dropdown__link" href="#">Bibliography</a>
              </li>
              <li class="dropdown__item">
                <a class="dropdown__link" href="#">Guidelines</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link" data-menu-item>About Us</a>
        </li>
        <li class="header__nav-item">
          <a
            href="#"
            class="header__nav-link header__nav-link--contact"
            data-menu-item
            >Contact Us</a
          >
        </li>
      </ul>
    </nav>
    <button
      class="header__burger"
      aria-label="Open menu"
      aria-expanded="false"
      data-burger
    >
      <span class="burger__line"></span>
    </button>
  </div>
</header>
