<section class="hemolytic-status">
  <div class="hemolytic-status__container container">
    <h2 class="hemolytic-status__title">
      With <span> CoSense®</span> ETCOc monitor powered by SENSALYZE technology,
      non-invasive measurement of ETCOc evaluates hemolytic status in less than
      five minutes in 3 easy steps:
    </h2>
    <div class="hemolytic-status__swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <figure class="hemolytic-status__figure">
            <picture class="hemolytic-status__picture">
              <source
                srcset="
                  ./img/hemolytic-status-img/hemolytic-status-slider-img-1.webp
                "
                type="image/webp"
              />
              <img
                loading="lazy"
                src="./img/hemolytic-status-img/hemolytic-status-slider-img-1.jpg"
                class="hemolytic-status__image"
                width="733"
                height="412"
                alt="Step 1"
              />
            </picture>
            <figcaption class="hemolytic-status__figcaption text-medium">
              <span class="hemolytic-status__step">Step 1.</span> Connect the
              <span>CoSense</span>
              PSS to the monitor and place the soft plastic cannula into one
              nostril.
            </figcaption>
          </figure>
        </div>
        <div class="swiper-slide">
          <figure class="hemolytic-status__figure">
            <picture class="hemolytic-status__picture">
              <source
                srcset="
                  ./img/hemolytic-status-img/hemolytic-status-slider-img-2.webp
                "
                type="image/webp"
              />
              <img
                loading="lazy"
                src="./img/hemolytic-status-img/hemolytic-status-slider-img-2.jpg"
                class="hemolytic-status__image"
                width="733"
                height="412"
                alt="Step 2"
              />
            </picture>
            <figcaption class="hemolytic-status__figcaption text-medium">
              <span class="hemolytic-status__step">Step 2.</span> Start the
              <span>CoSense</span>
              ETCOc test, sample collected in >30 seconds. Remove Sampling Set.
            </figcaption>
          </figure>
        </div>
        <div class="swiper-slide">
          <figure class="hemolytic-status__figure">
            <picture class="hemolytic-status__picture">
              <source
                srcset="
                  ./img/hemolytic-status-img/hemolytic-status-slider-img-3.webp
                "
                type="image/webp"
              />
              <img
                loading="lazy"
                src="./img/hemolytic-status-img/hemolytic-status-slider-img-3.jpg"
                class="hemolytic-status__image"
                width="733"
                height="412"
                alt="Step 3"
              />
            </picture>
            <figcaption class="hemolytic-status__figcaption text-medium">
              <span class="hemolytic-status__step">Step 3.</span> Results are
              available in 3-4 minutes.
            </figcaption>
          </figure>
        </div>
      </div>
      <button class="hemolytic-status__prev swiper-button-prev"></button>
      <button class="hemolytic-status__next swiper-button-next"></button>
    </div>
    <h3 class="hemolytic-status__info">
      The <a class="hemolytic-status__link" href="#">FDA-cleared </a>
      <span>CoSense®</span>
      monitor is easy to use with one-click set-up and requires no daily
      calibration.
    </h3>
    <div class="hemolytic-status__text text-small">
      <p>
        US Indication for Use: The <span> CoSense® </span>ETCO Monitor is
        indicated for the monitoring of carbon monoxide from endogenous sources
        (including hemolysis) and exogenous sources (including CO poisoning and
        smoke inhalation) in exhaled breath. The end tidal carbon monoxide level
        can be used for the monitoring of carbon monoxide in medical conditions
        in which the rate of hemolysis may be relevant.
      </p>
    </div>
  </div>
</section>
