<section class="jaundice-treatment">
  <div class="jaundice-treatment__container container">
    <h2 class="visually-hidden">
      Assessment and Management of Neonatal Jaundice: Integrating Hemolysis
      Impact Measurement and ETCOc as a Gold Standard Diagnostic Test
    </h2>
    <div class="jaundice-treatment__swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="jaundice-treatment__content">
            <h3 class="jaundice-treatment__title title-small">
              How are you measuring t he impact of hemolysis on bilirubin
              management?
            </h3>
            <div class="jaundice-treatment__text text-medium">
              <p>
                A common protocol is to perform one or more transcutaneous
                bilirubin (TCB) tests on every baby within the first 24 hours.
                When jaundice is suspected, an invasive total serum bilirubin
                (TSB) test is required.
              </p>
              <p>
                However, these
                <button
                  class="jaundice-treatment__button button-modal js-open-modal"
                  type="button"
                  aria-label="Open blood tests modal"
                  title="Open blood tests modal"
                >
                  blood tests
                </button>
                can be unreliable in identifying cases of over unconjugated
                bilirubin production because they reflect all bilirubin in the
                blood. A high TSB/TCB level could indicate elevated production,
                decreased conjugation of bilirubin in the liver, or decreased
                excretion of conjugated bilirubin. (Guerra Ruiz A et al. Adv Lab
                Med. 2021 & Olusanya BO et al. Lancet Child Adolesc Health.
                2018.) Thus, TSB/TCB testing alone is not sufficient for
                Jaundice management.
              </p>
              <p>We cannot improve what we cannot measure.</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="jaundice-treatment__content">
            <h3 class="jaundice-treatment__title title-small">
              ETCOc is the NEW diagnostic “Gold Standard” test for Jaundice
              Management.
            </h3>
            <div class="jaundice-treatment__info">
              <div class="jaundice-treatment__text text-medium">
                <p>
                  “The test most deserving of the designation “gold standard” is
                  ETCOc measurement. Moreover, this method is the one we judge
                  best fulfills the AAP 2022 recommendation to ‘identify
                  neonates with hemolysis from any cause’.Christensen RD et al.
                  J Perinatol. 2023 Jul 19.
                </p>
              </div>
              <a
                class="jaundice-treatment__link link link--light-blue"
                href="#"
              >
                Read More
              </a>
            </div>
            <div class="jaundice-treatment__info">
              <div class="jaundice-treatment__text text-medium">
                <p>
                  According to AAP Guidelines, “ETCOc levels can confirm the
                  presence or absence of hemolysis, and measurement of ETCOc is
                  the only clinical test that provides a direct measurement of
                  the rate of bilirubin production…”
                </p>
                <p>
                  An elevated level of exhaled ETOC is a clear indication of
                  active hemolysis that can be measured and monitored
                  non-invasively.
                </p>
              </div>
              <a
                class="jaundice-treatment__link link link--light-blue"
                href="#"
              >
                Review AAP Guidelines
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <dialog
      class="jaundice-treatment__dialog dialog js-modal"
      aria-labelledby="dialog-header-blood-tests"
      aria-describedby="dialog-content-blood-tests"
    >
      <div class="dialog__modal-close js-close-modal">
        <button
          class="dialog__modal-btn"
          type="button"
          aria-label="Close blood tests modal"
          title="Close blood tests modal"
          autofocus
        >
          <svg class="dialog__modal-icon">
            <use xlink:href="./img/sprite.svg#modal-close-icon"></use>
          </svg>
        </button>
      </div>
      <div class="dialog__modal-content dialog__modal-content--blood-tests">
        <div class="dialog__modal-inner">
          <h3
            class="dialog__modal-title visually-hidden"
            id="dialog-header-blood-tests"
          >
            Inadequacy of DAT Testing in Diagnosing Hemolytic Conditions in
            Infants
          </h3>
          <div
            class="dialog__modal-text text-medium"
            id="dialog-content-blood-tests"
          >
            <p>
              Commonly used invasive blood tests to determine if a baby is
              hemolyzing include coombs/DAT, CBC, Reticulocyte count, peripheral
              smear, Type RH, G6PD. These tests either indirectly measure
              bilirubin production or attempt to identify a cause of hemolysis
              and are often inaccurate or unable to diagnose hemolytic
              conditions.
            </p>
            <p>
              According to peer-reviewed evidence from
              <a href="cosense-studies.html#test-232">Ruparel</a>
              ,
              <a href="cosense-studies.html#test-231">Elsaie</a>
              ,
              <a href="cosense-studies.html#test-232">Schutzman</a>
              and
              <a href="cosense-studies.html#test-173">Christensen</a>
              , DAT testing is inadequate. Positive patients typically receive
              unnecessary phototherapy while DAT negative patients are often
              sent home with an undiagnosed hemolytic condition.
            </p>
          </div>
        </div>
      </div>
    </dialog>
  </div>
</section>
