<section class="jaundice">
  <div class="container">
    <div class="jaundice__wrapper">
      <div class="jaundice__info">
        <h2 class="jaundice__title title-small">
          Jaundice Management 101: Understand the ins and outs of bilirubin
          imbalance.
        </h2>
        <div class="jaundice__text text-medium">
          <p>Excess bilirubin accumulates in newborns for three reasons:</p>
          <ul>
            <li>
              <span>Over production</span> due to an underlying hemolytic
              condition.
            </li>
            <li>
              <span>Impaired conjugation</span> due to limited function of an
              immature liver.
            </li>
            <li>
              <span>Impaired elimination</span> due to problems with feeding or
              excretion.
            </li>
          </ul>
          <p>
            Prior to ETCOc tests, increased production of neurotoxic
            unconjugated bilirubin was difficult to detect until symptoms were
            evident, putting newborns at elevated risk for
            <a href="">kernicterus</a> and requiring immediate phototherapy.
          </p>
        </div>
      </div>
      <div class="jaundice__swiper swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <figure class="jaundice__figure text-medium">
              <picture class="jaundice__picture" width="765" height="430">
                <source srcset="img/jaundice-step-1.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/jaundice-step-1.jpg"
                  class="jaundice__image"
                  width="765"
                  height="430"
                  alt="The first step is the destruction of the red blood cell. The carbon monoxide
                are released into the bloodstream."
                />
              </picture>
              <figcaption>
                When a red blood cell lyses, bilirubin and carbon monoxide are
                released into the bloodstream.
              </figcaption>
            </figure>
          </div>
          <div class="swiper-slide">
            <figure class="jaundice__figure text-medium">
              <picture class="jaundice__picture">
                <source srcset="img/jaundice-step-2.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/jaundice-step-2.jpg"
                  class="jaundice__image"
                  width="765"
                  height="430"
                  alt="second step carbon monoxide combines with hemoglobin and is exhaled through the lungs."
                />
              </picture>
              <figcaption>
                When a red blood cell lyses, bilirubin and carbon monoxide are
                released into the bloodstream.
              </figcaption>
            </figure>
          </div>
          <div class="swiper-slide">
            <figure class="jaundice__figure text-medium">
              <picture class="jaundice__picture">
                <source srcset="img/jaundice-step-3.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/jaundice-step-3.jpg"
                  class="jaundice__image"
                  width="765"
                  height="430"
                  alt="Stage 3 Bilirubin is conjugated in the liver and excreted from the body."
                />
              </picture>
              <figcaption>
                When a red blood cell lyses, bilirubin and carbon monoxide are
                released into the bloodstream.
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
