<section class="monitoring">
  <div class="container">
    <h2 class="monitoring__title title-medium">
      CoSense® end-tidal carbon monoxide (ETCO) monitoring is the non-invasive,
      rapid, and proven way to identify high-risk hemolytic cases from newborns
      with harmless Jaundice prior to discharge.
    </h2>
    <div class="monitoring__wrapper">
      <div class="monitoring__images">
        <picture class="monitoring__picture">
          <source
            srcset="./img/monitoring-img/monitoring-image.webp"
            type="image/webp"
          />
          <img
            class="monitoring__image"
            loading="lazy"
            src="./img/monitoring-img/monitoring-image.jpg"
            width="733"
            height="451"
            alt="The newborn is tested through the endogenous carbon monoxide (ETCO) CoSense®"
          />
        </picture>
      </div>
      <div class="monitoring__info">
        <div class="monitoring__text text-medium">
          <p>
            In less than 5 minutes, the CoSense® ETCOc Monitor detects the rate
            of hemolysis through non-invasive ETCOc testing of a newborn’s
            breath to accurately detect and measure the overproduction of
            unconjugated bilirubin and provide clear guidance for jaundice
            management.
          </p>
        </div>
        <a class="monitoring__link link link--yellow" href="#">Learn More</a>
      </div>
    </div>
  </div>
</section>
