<section class="monitoring monitoring--products">
  <div class="container">
    <h2 class="visually-hidden">
      "CoSense® ETCOc Testing: Transformative Impact on Clinical Outcomes in
      Neonatal Care"
    </h2>
    <div class="monitoring__wrapper">
      <div class="monitoring__images monitoring__images--products">
        <picture class="monitoring__picture">
          <source
            srcset="./img/monitoring-img/monitoring-image.webp"
            type="image/webp"
          />
          <img
            class="monitoring__image"
            loading="lazy"
            src="./img/monitoring-img/monitoring-image.jpg"
            width="733"
            height="451"
            alt="The newborn is tested through the endogenous carbon monoxide (ETCO) CoSense®"
          />
        </picture>
      </div>
      <div class="monitoring__info">
        <div class="monitoring__text text-medium">
          <p>
            The use of
            <i>CoSense®</i>
            ETCOc testing is proven to improve clinical outcomes:
          </p>
          <ul>
            <li>
              Prevent Re-admissions and separation from moms and breastfeeding.
            </li>
            <li>Decrease invasive blood test by 50%, including heel sticks.</li>
            <li>Decrease unnecessary phototherapy.</li>
            <li>Decrease patient length of stay.</li>
          </ul>
        </div>
        <a
          class="monitoring__link link link--yellow"
          href="cosense-studies.html"
        >
          Learn More
        </a>
      </div>
    </div>
  </div>
</section>
