<section class="page-hero page-hero--about">
  <div class="page-hero__container container">
    <div class="page-hero__wrapper page-hero__wrapper--about">
      <div class="page-hero__content page-hero__content--about">
        <h1 class="page-hero__title page-hero__title--about title-huge">
          About Us
        </h1>
        <div class="page-hero__inner page-hero__inner--about">
          <div class="page-hero__info page-hero__info--about text-medium">
            <blockquote>
              “I am dedicated to revolutionizing jaundice management. In
              collaboration and support of the neonatal and pediatric medical
              community, we envision a paradigm shift from treating
              hyperbilirubinemia based on total serum bilirubin levels to a
              future in which we employ ETCOc analysis to identify and treat
              newborns suffering from abnormally high production of neurotoxic
              bilirubin. This transformative approach will prevent unnecessary
              blood testing and treatment, reduce delayed or missed diagnoses,
              and ensure timely treatment for those at risk of BIND and
              kernicterus. Together, we can create a future where every newborn
              receives precise and personalized care for jaundice.”
              <footer>
                Anthony Wu,
                <cite>Chief Executive Officer</cite>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="page-hero__images page-hero__images--about">
        <img
          class="page-hero__decor page-hero__decor--about"
          src="./img/decor-light-bg-products.svg"
          alt=""
          width="820"
          height="820"
          aria-hidden="true"
        />
        <picture class="page-hero__picture">
          <img
            src="./img/page-hero-img/page-hero-about/page-hero-about.jpg"
            class="page-hero__image"
            width="672"
            height="672"
            alt="Anthony Wu, Chief Executive Officer"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
