<section class="page-hero page-hero--products">
  <h1 class="visually-hidden">
    "CoSense® ETCOc Monitor: Revolutionizing Jaundice Management with SENSALYZE
    Technology"
  </h1>
  <div class="page-hero__container container">
    <div class="page-hero__wrapper">
      <div class="page-hero__content">
        <h2 class="page-hero__title title-huge">
          The CoSense® ETCOc monitor powered by SENSALYZE technology is now
          available!
        </h2>
        <div class="page-hero__inner">
          <div class="page-hero__info text-huge">
            <p>
              The NEW Gold Standard for diagnosing and quantifying hemolysis and
              the production of bilirubin for Jaundice management.
            </p>
            <ul>
              <li>A simple, non-invasive breath test.</li>
              <li>Performed at the bedside.</li>
              <li>Immediate results.</li>
              <li>Supports AAP best practice.</li>
            </ul>
          </div>
          <a class="page-hero__link link" href="#">Contact Us</a>
        </div>
      </div>
      <div class="page-hero__images page-hero__images--products">
        <img
          class="page-hero__decor page-hero__decor--products"
          src="./img/decor-light-bg-products.svg"
          alt=""
          width="820"
          height="820"
          aria-hidden="true"
        />
        <picture class="page-hero__picture">
          <img
            src="./img/page-hero-img/page-hero-products/page-hero-products.png"
            class="page-hero__image page-hero__image--products"
            width="672"
            height="672"
            alt="Newborn baby lying in a crib"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
