<section class="page-hero">
  <div class="page-hero__container container">
    <h1 class="visually-hidden">
      Capnia: Revolutionary technology to improve newborn health care!
    </h1>
    <div class="page-hero__swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="page-hero__wrapper">
            <div class="page-hero__content">
              <h2 class="page-hero__title title-huge">
                Jaundice Management is complex but improving outcomes is easier
                than you think with ETCOc Testing.
              </h2>
              <div class="page-hero__inner">
                <div class="page-hero__info text-huge">
                  <p>
                    A simple breath test, the
                    <span>CoSense®</span>
                    ETCO Monitor provides early and accurate measurement of
                    hemolysis and neurotoxic risk that can lead to hemolytic
                    hyperbilirubinemia (HB) and kernicterus.
                  </p>
                  <p>
                    <mark>AAP Guideline:</mark>
                    “ETCOc is the only test that can confirm the presence or
                    absence of hemolysis and measure the rate of bilirubin
                    production.”
                  </p>
                </div>
                <a class="page-hero__link link link--yellow" href="#">
                  Review AAP Guidelines
                </a>
              </div>
            </div>
            <div class="page-hero__images">
              <img
                class="page-hero__decor"
                src="./img/decor-light-bg.svg"
                alt=""
                width="820"
                height="820"
                aria-hidden="true"
              />
              <picture class="page-hero__picture">
                <source
                  srcset="./img/page-hero-img/page-hero-slider-1.webp"
                  type="image/webp"
                />
                <img
                  src="./img/page-hero-img/page-hero-slider-1.jpg"
                  class="page-hero__image"
                  width="672"
                  height="672"
                  alt="Newborn baby lying in a crib"
                />
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="page-hero__wrapper">
            <div class="page-hero__content">
              <h2 class="page-hero__title title-huge">
                Evaluate each newborn’s bilirubin neurotoxicity risk to send
                them home with confidence.
              </h2>
              <div class="page-hero__inner">
                <div class="page-hero__info text-huge">
                  <p>
                    Most babies readmitted for hyperbilirubinemia (HB) are
                    considered low risk at the time of discharge. Universal
                    testing with the non-invasive CoSense® ETCO monitor before
                    discharge identifies babies with hemolytic conditions who
                    may be at high risk of neurotoxicity.
                  </p>
                </div>
                <a class="page-hero__link link link--yellow" href="#">
                  Learn More
                </a>
              </div>
            </div>
            <div class="page-hero__images">
              <img
                class="page-hero__decor"
                src="./img/decor-light-bg.svg"
                alt=""
                width="820"
                height="820"
                aria-hidden="true"
              />
              <picture class="page-hero__picture">
                <source
                  srcset="./img/page-hero-img/page-hero-slider-2.webp"
                  type="image/webp"
                />
                <img
                  src="./img/page-hero-img/page-hero-slider-2.jpg"
                  class="page-hero__image page-hero__image--two"
                  width="672"
                  height="672"
                  alt="The doctor will examine the newborn"
                />
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="page-hero__wrapper">
            <div class="page-hero__content">
              <h2 class="page-hero__title title-huge">
                ETCOc testing of EVERY baby before discharge
                decreasesre-admissions, unnecessary needlesticks, phototherapy,
                and costs.
              </h2>
              <div class="page-hero__inner">
                <div class="page-hero__info text-huge">
                  <p>
                    An ETCOc test, combined with TcB/TSB measurement, for all
                    babies before discharge or during phototherapy treatment has
                    proven to:
                  </p>
                  <ul>
                    <li>
                      Prevent readmission for hyperbilirubinemia (HB) and
                      mother/baby separation.
                      <a href="#">(Bao 2022)</a>
                    </li>
                    <li>
                      50% reduction in DAT blood tests
                      <a href="#">(Elsaie 2020; Bahr 2021)</a>
                    </li>
                    <li>
                      >20%+ reduction in photo therapy and improved utilization.
                      <a href="#">(Yang 2023)</a>
                    </li>
                    <li>
                      Reduced cost
                      <a href="#">(Bahr. 2021)</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="page-hero__images">
              <img
                class="page-hero__decor"
                src="./img/decor-light-bg.svg"
                alt=""
                width="820"
                height="820"
                aria-hidden="true"
              />
              <picture class="page-hero__picture">
                <source
                  srcset="./img/page-hero-img/page-hero-slider-3.webp"
                  type="image/webp"
                />
                <img
                  src="./img/page-hero-img/page-hero-slider-3.jpg"
                  class="page-hero__image"
                  width="672"
                  height="672"
                  alt="ETCO apparatus for newborn screening"
                />
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="page-hero__wrapper">
            <div class="page-hero__content">
              <h2 class="page-hero__title title-huge">
                Know the facts when managing jaundice. ETCOc is the
                evidence-based gold standard for diagnosing hemolysis and
                endorsed by APP.
              </h2>
              <div class="page-hero__inner">
                <div class="page-hero__info text-huge">
                  <p>
                    <mark>AAP Guideline:</mark>
                    Lower gestational age and hemolytic disease are risk factors
                    for developing significant hyperbilirubinemia and for
                    bilirubin neurotoxicity. Identify and quantify hemolysis
                    EARLY, provide the necessary treatment, and send them home
                    safe
                  </p>
                </div>
                <a class="page-hero__link link link--yellow" href="#">
                  Review AAP Guidelines
                </a>
              </div>
            </div>
            <div class="page-hero__images">
              <img
                class="page-hero__decor"
                src="./img/decor-light-bg.svg"
                alt=""
                width="820"
                height="820"
                aria-hidden="true"
              />
              <picture class="page-hero__picture">
                <source
                  srcset="./img/page-hero-img/page-hero-slider-4.webp"
                  type="image/webp"
                />
                <img
                  src="./img/page-hero-img/page-hero-slider-4.jpg"
                  class="page-hero__image"
                  width="672"
                  height="672"
                  alt="Young family together with a newborn baby"
                />
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="page-hero__swiper-pagination swiper-pagination"></div>
    </div>
  </div>
</section>
