<section class="researches">
  <div class="researches__container container">
    <div class="researches__content">
      <h2 class="researches__title title-small">
        More than 20 years of best practice clinical evidence supports ETCOc
        testing for jaundice management.
      </h2>
      <div class="researches__text text-medium">
        <p>
          Published data show that ETCOc testing provides a more accurate
          measure of hemolysis than blood testing. More than a dozen clinical
          studies have validated the ability of the CoSense ETCO Monitor to
          detect the rate of hemolysis in newborns. As a result, the Academy of
          American Pediatrics (AAP) recommends ETCOc testing to measure
          bilirubin production rates in newborns.
        </p>
      </div>
      <a class="researches__link link link--yellow" href="#">
        Review the Clinical Evidence
      </a>
    </div>
    <div class="researches__images">
      <picture>
        <source
          srcset="./img/researches-img/researches-image.webp"
          type="image/webp"
        />
        <img
          loading="lazy"
          src="./img/researches-img/researches-image.jpg"
          class="researches__image"
          width="746"
          height="586"
          alt="The doctor's checking the labs"
        />
      </picture>
    </div>
  </div>
</section>
