<section class="sensalyze">
  <div class="container">
    <h2 class="visually-hidden">"CoSense®: Unrivaled ETCOc Detection for Swift, Family-Centric Newborn Monitoring."</h2>
    <div class="sensalyze__wrapper">
      <iframe
        class="sensalyze__iframe"
        src="https://player.vimeo.com/video/163006972?h=609a7bfc7b"
        width="1091"
        height="614"
        allow="autoplay; fullscreen; picture-in-picture"
        loading="lazy"></iframe>
      <div class="sensalyze__text text-medium">
        <p>
          <i>
            CoSense
            <span>®</span>
          </i>
          is the ONLY test available for accurate detection of ETCOc in newborns.
        </p>
        <p>
          The portable
          <i>CoSense</i>
          monitor uses Sensalyze™ technology for non-invasive rapid and accurate measurement of carbon monoxide in the
          exhaled breath of newborns. A breath sample is painlessly collected and analyzed in less than 5 minutes with
          no interruption to family bonding.
        </p>
      </div>
    </div>
  </div>
</section>
