:root {
  // base
  --font-family-base: 'WorkSans', sans-serif;
  --font-family-accent: 'Barlow', sans-serif;

  // border-radius
  --border-radius-medium: 30px;
  --border-radius-medium-small: 10px;
  --border-radius-small: 5px;

  // border-color
  --border-color-dark: var(--color-dark);

  // header height
  --header-height: 80px;

  // outline
  --outline-offset: 2px;

  // transition
  --timing: 0.3s;

  // z-index-
  --preloader-z-index: 1001;
  --header-nav-z-index: 10;
  --dropdown-nav-z-index: 200;
  --to-top-z-index: 300;
}
