:root {
  --color-light: #ffffff;
  --color-black: #000000;
  --actionable-item: #18a0fb;
  --yellow: #ffcc33;
  --yellow-light: #fff0c2;
  --light-blue: #99ccff;
  --deep-blue: #03045e;
  --dark-grey: #58595b;
  --light-yellow: #fffaeb;
  --lighter-blue: #ebf0f6;
  --deep-blue-light: #d7d8fe;
  --light-grey: #e0e0e1;
}
